Repository softeerbootcamp-6th/Team3-SockThree: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, eslint, prettier-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: spotless-check
        name: Spotless Check (Backend)
        entry: ./server/gradlew -p server spotlessCheck
        language: system
        types: [java]
        files: ^server/
        pass_filenames: false
      - id: eslint
        name: ESLint (Frontend)
        entry: npm run --prefix client lint
        language: system
        files: ^client/.*\.(js|jsx|ts|tsx)$
      - id: prettier-check
        name: Prettier Check (Frontend)
        entry: npm run --prefix client format:check
        language: system
        files: ^client/.*\.(js|jsx|ts|tsx|css|json|md)$

feat: 기본 이미지 업로드/다운로드/삭제 기능 구현
  server/src/main/java/com/seniclass/server/domain/aws/service/S3Service.java
Due: spotless-check

fix: 별점 입력시 0.5 단위 입력 및 UI가 나타나도록 수정
  client/src/domain/student/component/widgets/ReviewWidget.tsx
Due: eslint, prettier-check

style: progress bar 모노톤 추가 color variant 수정
  client/src/shared/components/ProgressBar.tsx
Due: eslint, prettier-check

style: heart svg 파일 currentColor 설정, w, h 삭제
  client/src/assets/icons/default/heart.svg
Due: none

chore: colored-heart.svg 삭제 heart svg와 중복
  client/src/assets/icons/default/colored-heart.svg
Due: none

feat: 과제 CRUD 를 위한 dto 생성
  server/src/main/java/com/seniclass/server/domain/lecture/dto/request/AssignmentCreateRequest.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/request/AssignmentUpdateRequest.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/AssignmentResponse.java
Due: spotless-check

style: 강의 상세 카드 퍼블리싱
  client/src/domain/instructor/page/course/CourseDetailPage.tsx
  client/src/shared/components/course/CourseInfoCard.tsx
Due: eslint, prettier-check

feat: AssignmentService 구현 - 인터페이스를 통해 제공되는 메서드 보기 - 구현체 구현 - Assignment 엔티티에 Update 메서드 추가
  server/src/main/java/com/seniclass/server/domain/lecture/domain/Assignment.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/AssignmentService.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/AssignmentServiceImpl.java
  server/src/main/java/com/seniclass/server/global/exception/errorcode/LectureErrorCode.java
  server/src/main/java/com/seniclass/server/global/exception/errorcode/UserErrorCode.java
Due: spotless-check

feat: 과제 관련 API 작성 - Controller 구현
  server/src/main/java/com/seniclass/server/domain/lecture/controller/AssignmentController.java
Due: spotless-check

docs: spotless Apply
  server/src/main/java/com/seniclass/server/domain/lecture/domain/Assignment.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/request/AssignmentCreateRequest.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/request/AssignmentUpdateRequest.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/AssignmentResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/AssignmentService.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/AssignmentServiceImpl.java
  server/src/main/java/com/seniclass/server/global/exception/errorcode/LectureErrorCode.java
Due: spotless-check

chore: eslint에 react plugin 추가
  client/eslint.config.js
  client/package-lock.json
  client/package.json
Due: eslint, prettier-check

fix: lint 에러 해결
  client/src/shared/components/course/CourseInfoCard.tsx
Due: eslint, prettier-check

chore: prettier 적용
  client/src/domain/instructor/page/course/CourseDetailPage.tsx
Due: eslint, prettier-check

chore: 수강생 현황 아이콘 추가
  client/src/assets/icons/gradient/people.svg
Due: none

style: 전체 수강생 위젯 마크업
  client/src/domain/student/component/widgets/StudentStatsWidget.tsx
Due: eslint, prettier-check

chore: svg 파일 추가
  client/src/assets/icons/default/clock.svg
  client/src/assets/icons/default/delete.svg
  client/src/assets/icons/default/edit.svg
  client/src/assets/icons/default/triangle-down.svg
  client/src/assets/icons/default/triangle-right.svg
  client/src/assets/icons/default/triangle-up.svg
Due: none

style: video list 마크업
  client/src/domain/instructor/component/video/VideoList.tsx
Due: eslint, prettier-check

fix: video list item 인덱스 0시작 -> 1시작으로 변경
  client/src/domain/instructor/component/video/VideoList.tsx
Due: eslint, prettier-check

feat: chapter crud 를 위한 dto 생성
  server/src/main/java/com/seniclass/server/domain/lecture/dto/request/ChapterCreateRequest.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/request/ChapterUpdateRequest.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/ChapterResponse.java
Due: spotless-check

feat: ChapterService 구현 - CRUD 구현 - 요청자의 소유권을 확인하는 검증 로직 추가 - 예외 처리를 위한 ErrorCode 추가
  server/src/main/java/com/seniclass/server/domain/lecture/domain/Chapter.java
  server/src/main/java/com/seniclass/server/domain/lecture/exception/errorcode/ChapterErrorCode.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/ChapterService.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/ChapterServiceImpl.java
  server/src/main/java/com/seniclass/server/global/exception/errorcode/UserErrorCode.java
Due: spotless-check

feat: Chapter API 설정
  server/src/main/java/com/seniclass/server/domain/lecture/controller/ChapterController.java
Due: spotless-check

style: video item 마크업
  client/src/domain/instructor/component/video/VideoListItem.tsx
Due: eslint, prettier-check

fix: video data 타입 수정
  client/src/domain/instructor/component/video/VideoList.tsx
Due: eslint, prettier-check

chore: rechart 라이브러리 설치
  client/package-lock.json
  client/package.json
Due: prettier-check

style: 과제 제출률 areaChart 마크업
  client/src/domain/student/component/widgets/StudentStatsWidget.tsx
Due: eslint, prettier-check

style: 평균 수강 연령 마크업
  client/src/domain/student/component/widgets/StudentStatsWidget.tsx
Due: eslint, prettier-check

style: tooltip 색상, typo 변경
  client/src/domain/student/component/widgets/StudentStatsWidget.tsx
Due: eslint, prettier-check

refactor: 컴포넌트 props 타입 정리 - size가 small인 경우 ageData와 homeworkData를 못받도록 never로 강제 - props로 받아오지 않아도 되는 값들을 하드코딩
  client/src/domain/student/component/widgets/StudentStatsWidget.tsx
Due: eslint, prettier-check

feat: 기본 모달 및 useModal 훅 추가
  client/src/shared/components/Modal.tsx
  client/src/shared/hook/useModal.tsx
Due: eslint, prettier-check

chore: yml 설정 파일에 aws 환경 변수 추가
  server/src/main/resources/application-dev.yml
  server/src/main/resources/application-prod.yml
  server/src/main/resources/application.yml
Due: none

feat: 파일 관련 유틸 추가
  server/src/main/java/com/seniclass/server/domain/student/dto/AssignmentSubmissionRequest.java
  server/src/main/java/com/seniclass/server/global/config/FileStorageProperties.java
  server/src/main/java/com/seniclass/server/global/exception/errorcode/GlobalErrorCode.java
  server/src/main/java/com/seniclass/server/global/service/FileStorageService.java
  server/src/main/resources/application.yml
Due: spotless-check

feat: 과제 제출 파일 업로드로 변경, 추후 S3로 확장
  server/src/main/java/com/seniclass/server/domain/student/controller/AssignmentSubmissionController.java
  server/src/main/java/com/seniclass/server/domain/student/domain/AssignmentSubmission.java
  server/src/main/java/com/seniclass/server/domain/student/dto/AssignmentSubmissionFileRequest.java
  server/src/main/java/com/seniclass/server/domain/student/dto/AssignmentSubmissionResponse.java
  server/src/main/java/com/seniclass/server/domain/student/exception/errorcode/AssignmentSubmissionErrorCode.java
  server/src/main/java/com/seniclass/server/domain/student/service/AssignmentSubmissionService.java
  server/src/main/java/com/seniclass/server/domain/student/service/AssignmentSubmissionServiceImpl.java
  server/src/test/java/com/seniclass/server/domain/student/service/AssignmentSubmissionServiceTest.java
Due: spotless-check

docs: spotless Apply
  server/src/main/java/com/seniclass/server/domain/aws/service/S3Service.java
  server/src/main/java/com/seniclass/server/global/config/aws/AwsConfig.java
Due: spotless-check

chore: yml 파일 설정 추가
  server/src/main/resources/application.yml
Due: none

fix: 피드백 반영
  server/src/main/java/com/seniclass/server/domain/student/controller/AssignmentSubmissionController.java
  server/src/main/java/com/seniclass/server/domain/student/domain/LectureQna.java
  server/src/main/java/com/seniclass/server/domain/student/service/LectureQnaServiceImpl.java
Due: spotless-check

chore: ci.yml 파일 설정에 AWS key 설정 추가
  .github/workflows/ci.yml
Due: none

chore: fill을 currentColor로 변경
  client/src/assets/icons/default/yellow-star.svg
Due: none

style: 강좌 상세 사이드 카드 기본값 퍼블리싱
  client/src/assets/icons/default/calendar.svg
  client/src/domain/student/component/course/CourseInfoCardDefault.tsx
Due: eslint, prettier-check

style: 강좌 상세 사이드 카드 수강중인 경우 마크업
  client/src/domain/student/component/course/CourseInfoCardAttend.tsx
Due: eslint, prettier-check

feat: formatDate 유틸 함수 구현 - 파라미터로 하이픈과 온점을 받아서, YY-MM-DD 혹은 YY.MM.DD 형식으로 리턴할 수 있습니다.
  client/src/shared/utils/dateUtils.ts
Due: eslint, prettier-check
