Repository softeerbootcamp-6th/Team3-SockThree: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, eslint, prettier-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: spotless-check
        name: Spotless Check (Backend)
        entry: ./server/gradlew -p server spotlessCheck
        language: system
        types: [java]
        files: ^server/
        pass_filenames: false
      - id: eslint
        name: ESLint (Frontend)
        entry: npm run --prefix client lint
        language: system
        files: ^client/.*\.(js|jsx|ts|tsx)$
      - id: prettier-check
        name: Prettier Check (Frontend)
        entry: npm run --prefix client format:check
        language: system
        files: ^client/.*\.(js|jsx|ts|tsx|css|json|md)$

fix: eslint 에러 해결 eslint-disable을 불가피하게 사용
  client/src/shared/api/refresh.ts
Due: eslint, prettier-check

chore: menu svg 파일 추가
  client/src/assets/icons/default/menu.svg
Due: none

feat: mm:ss 포맷 유틸 함수 구현
  client/src/shared/utils/timeUtils.ts
Due: eslint, prettier-check

style: progress bar 너비 수정
  client/src/shared/components/ProgressBar.tsx
Due: eslint, prettier-check

feat: 로그인 페이지 마크업
  client/src/routes/index.tsx
  client/src/shared/page/login/LoginPage.tsx
Due: eslint, prettier-check

feat: 비디오 재생 사이드 메뉴 구현
  client/src/shared/components/video/VideoSideMenu.tsx
  client/src/shared/components/video/VideoSideMenuChapterHeader.tsx
  client/src/shared/components/video/VideoSideMenuItem.tsx
  client/src/shared/components/video/VideoSideMenuVideoList.tsx
Due: eslint, prettier-check

feat: 비디오 플레이어 구현
  client/src/shared/components/video/VideoPlayer.tsx
Due: eslint, prettier-check

style: 비디오 재생 페이지 퍼블리싱
  client/src/shared/page/video/VideoPlayPage.tsx
Due: eslint, prettier-check

feat: login 폼 관리 커스텀 훅
  client/src/shared/hook/useLoginForm.ts
Due: eslint, prettier-check

refactor: useLoginForm 반영
  client/src/shared/components/LoginForm.tsx
  client/src/shared/components/LoginInput.tsx
  client/src/shared/page/login/LoginPage.tsx
Due: eslint, prettier-check

fix: 사이드 메뉴 초기상태 열림으로 수정
  client/src/shared/components/video/VideoSideMenu.tsx
Due: eslint, prettier-check

fix: 화살표 함수로 변경
  client/src/shared/components/video/VideoSideMenu.tsx
Due: eslint, prettier-check

chore: prettier 적용
  client/src/shared/components/course/CourseDetailWrapper.tsx
  client/src/shared/components/video/VideoSideMenuChapterHeader.tsx
  client/src/shared/components/video/VideoSideMenuItem.tsx
  client/src/shared/components/video/VideoSideMenuVideoList.tsx
Due: eslint, prettier-check

feat: 강사 이미지 저장 경로 상수 추가
  server/src/main/java/com/seniclass/server/domain/auth/service/UserAuthenticationServiceImpl.java
Due: spotless-check

refactor: dto 명 수정
  server/src/main/java/com/seniclass/server/domain/widget/dto/response/TeacherWidgetResponse.java
Due: spotless-check

fix: conflict 해결
  server/src/main/java/com/seniclass/server/domain/lecture/repository/ReviewRepository.java
Due: spotless-check

feat: 강사 정보 위젯 데이터 생성 로직 구현
  server/src/main/java/com/seniclass/server/domain/widget/service/WidgetService.java
  server/src/main/java/com/seniclass/server/domain/widget/service/WidgetServiceImpl.java
Due: spotless-check

feat: API 생성
  server/src/main/java/com/seniclass/server/domain/widget/controller/WidgetController.java
Due: spotless-check

fix: 강사 wrapper 적용 부분 수정
  client/src/domain/instructor/page/course/CourseDetailPage.tsx
Due: eslint, prettier-check

feat: login dto 수정
  server/src/main/java/com/seniclass/server/domain/auth/dto/LoginResponse.java
  server/src/main/java/com/seniclass/server/domain/auth/service/AuthService.java
Due: spotless-check

fix: 변경된 라우터에 맞게 경로 수정
  client/src/domain/instructor/component/course/CourseCardContainer.tsx
  client/src/domain/instructor/page/homepage/HomePage.tsx
Due: eslint, prettier-check

feat: 비디오 업로드 페이지 라우팅 연결
  client/src/domain/instructor/page/course/CourseDetailPage.tsx
  client/src/domain/instructor/page/course/VideoUploadPage.tsx
Due: eslint, prettier-check

chore: 사용하지 않는 script 삭제
  client/package.json
Due: prettier-check

chore: tanstack query, openapi-typescript 설치
  client/package-lock.json
  client/package.json
Due: prettier-check

chore: openapi typescirpt 스크립트 추가
  client/package.json
Due: prettier-check

feat: openapi 타입 불러오기
  client/src/shared/types/openapi.ts
Due: eslint, prettier-check

chore: openapi 관련 타입 선언
  client/src/shared/types/openapi-type.ts
Due: eslint, prettier-check

feat: 리액트 쿼리 queryclient provider 추가
  client/src/routes/RootLayout.tsx
  client/src/routes/index.tsx
Due: eslint, prettier-check

chore: openapi 사용을 위한 컴파일러 옵션 추가
  client/tsconfig.json
Due: prettier-check

refactor: requestㅒption에 signal 추가
  client/src/shared/api/createApi.ts
  client/src/shared/api/http.ts
Due: eslint, prettier-check

fix: request 응답이 data만 포함하도록 수정 openapi의 type과 맞추기 위함
  client/src/shared/api/http.ts
Due: eslint, prettier-check

fix: token has()의 리턴 타입을 boolean으로 지정
  client/src/shared/api/token.ts
Due: eslint, prettier-check

feat: token이 없는 경우 login으로 리다이렉트
  client/src/shared/auth/checkAuth.ts
Due: eslint, prettier-check

feat: /auth 내의 API 함수 정의
  client/src/shared/api/auth.ts
Due: eslint, prettier-check

feat: useLogin 훅 (react query) 정의
  client/src/shared/api/auth.ts
Due: eslint, prettier-check

feat: 로그인에 useLogin 반영
  client/src/shared/hook/useLoginForm.ts
Due: eslint, prettier-check

feat: 강의 목차 생성하기 버튼 클릭시에도 비디오 업로드 모달창 띄우기 modal 위치 비디오 업로드 페이지로 수정 contents -> chapter로 이름 변경 모달창에서 chapterID 알 수 있게 변경
  client/src/domain/instructor/component/video/UploadVideoModal.tsx
  client/src/domain/instructor/component/video/VideoList.tsx
  client/src/domain/instructor/page/course/VideoUploadPage.tsx
Due: eslint, prettier-check

feat: 업로드 날짜, 공개일정 추가
  client/src/domain/instructor/component/video/VideoList.tsx
  client/src/domain/instructor/component/video/VideoListItem.tsx
  client/src/domain/instructor/page/course/VideoUploadPage.tsx
Due: eslint, prettier-check

refactor: 강좌의 대분류, 소분류를 상수로 분리
  client/src/domain/student/component/search/FilterModal.tsx
  client/src/shared/contstant/categories.ts
Due: eslint, prettier-check

feat: 업로드 상태에 따른 video item ui 수정
  client/src/domain/instructor/component/video/VideoList.tsx
  client/src/domain/instructor/component/video/VideoListItem.tsx
  client/src/domain/instructor/page/course/VideoUploadPage.tsx
Due: eslint, prettier-check
