Repository softeerbootcamp-6th/Team3-SockThree: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, eslint, prettier-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: spotless-check
        name: Spotless Check (Backend)
        entry: ./server/gradlew -p server spotlessCheck
        language: system
        types: [java]
        files: ^server/
        pass_filenames: false
      - id: eslint
        name: ESLint (Frontend)
        entry: npm run --prefix client lint
        language: system
        files: ^client/.*\.(js|jsx|ts|tsx)$
      - id: prettier-check
        name: Prettier Check (Frontend)
        entry: npm run --prefix client format:check
        language: system
        files: ^client/.*\.(js|jsx|ts|tsx|css|json|md)$

feat: 리뷰 관련 쿼리 생성 - 특정 강의의 평균 리뷰 점수 조회 - 특정 강사의 총 리뷰 개수 조회
  server/src/main/java/com/seniclass/server/domain/lecture/repository/ReviewRepository.java
Due: spotless-check

feat: 찜 목록 페이지 퍼블리싱 및 상세보기 클릭시 라우팅 처리
  client/src/domain/student/page/mypage/HeartPage.tsx
  client/src/shared/components/course/CourseDetailCard.tsx
Due: eslint, prettier-check

feat: course card 보여주는 컨테이너 제작
  client/src/domain/instructor/component/course/CourseCardContainer.tsx
Due: eslint, prettier-check

feat: 강사 홈페이지 퍼블리싱
  client/src/domain/instructor/page/HomePage.tsx
Due: eslint, prettier-check

fix: prettier 적용
  client/src/domain/instructor/page/HomePage.tsx
Due: eslint, prettier-check

feat: 평점 높은 리뷰와 수강생의 리뷰 작성 비율 계산 메서드 작성
  server/src/main/java/com/seniclass/server/domain/lecture/domain/Review.java
  server/src/main/java/com/seniclass/server/domain/lecture/repository/ReviewRepository.java
Due: spotless-check

fix: 강의별 리뷰율이 아니라 학생의 전체 리뷰율로 변경
  server/src/main/java/com/seniclass/server/domain/lecture/repository/ReviewRepository.java
Due: spotless-check

feat: 과제 위젯을 위한 메서드 repository에 정의
  server/src/main/java/com/seniclass/server/domain/lecture/repository/AssignmentRepository.java
  server/src/main/java/com/seniclass/server/domain/student/repository/AssignmentSubmissionRepository.java
Due: spotless-check

feat: qna 위젯을 위한 메서드 repository에 정의
  server/src/main/java/com/seniclass/server/domain/student/repository/LectureQnaRepository.java
Due: spotless-check

feat: 과제 제출에 피드백 추가
  server/src/main/java/com/seniclass/server/domain/student/domain/AssignmentSubmission.java
Due: spotless-check

feat: 강사 권한도 추가
  server/src/main/java/com/seniclass/server/domain/widget/controller/LectureStatisticsController.java
Due: spotless-check

feat: 응답을 위한 dto 정의
  server/src/main/java/com/seniclass/server/domain/widget/dto/response/AssignmentWidgetResponse.java
  server/src/main/java/com/seniclass/server/domain/widget/dto/response/QnaWidgetResponse.java
  server/src/main/java/com/seniclass/server/domain/widget/dto/response/ReviewWidgetResponse.java
Due: spotless-check

feat: 서비스 구현
  server/src/main/java/com/seniclass/server/domain/widget/controller/WidgetController.java
  server/src/main/java/com/seniclass/server/domain/widget/service/WidgetService.java
  server/src/main/java/com/seniclass/server/domain/widget/service/WidgetServiceImpl.java
Due: spotless-check

style: 필터가 선택되었을 때 필터 선택 버튼 스타일링
  client/src/assets/icons/default/filtering.svg
  client/src/domain/student/component/search/FilterBar.tsx
  client/src/domain/student/component/search/FilterButton.tsx
Due: eslint, prettier-check

style: 정렬 select typo 변경
  client/src/domain/student/component/search/SortBar.tsx
Due: eslint, prettier-check

feat: 쿼리스트링에 정렬 상태 추가
  client/src/domain/student/component/search/SortBar.tsx
  client/src/domain/student/page/course/SearchResultPage.tsx
Due: eslint, prettier-check

feat: controller 통일 및 Repository 개선
  server/src/main/java/com/seniclass/server/domain/lecture/repository/AssignmentRepository.java
  server/src/main/java/com/seniclass/server/domain/lecture/repository/ReviewRepository.java
  server/src/main/java/com/seniclass/server/domain/student/repository/LectureQnaRepository.java
  server/src/main/java/com/seniclass/server/domain/widget/controller/LectureStatisticsController.java
  server/src/main/java/com/seniclass/server/domain/widget/controller/WidgetController.java
  server/src/main/java/com/seniclass/server/domain/widget/service/WidgetServiceImpl.java
Due: spotless-check

fix: swagger url 상대경로로 수정
  server/src/main/java/com/seniclass/server/global/config/swagger/SwaggerConfig.java
Due: spotless-check

fix: add CORS URL
  server/src/main/resources/application-prod.yml
Due: none

fix: add Authorization field
  server/src/main/java/com/seniclass/server/global/config/swagger/SwaggerConfig.java
  server/src/main/resources/application.yml
Due: spotless-check

refactor: 학생/선생님 라우터 분리
  client/src/routes/instructorRouter.ts
  client/src/routes/studentRouter.ts
Due: eslint, prettier-check

refactor: port 번호에 따라 다른 역할로 접속하도록 수정
  client/src/routes/index.tsx
Due: eslint, prettier-check

refactor: 강좌 생성 페이지 layout 삭제
  client/src/routes/instructorRouter.ts
Due: eslint, prettier-check

chore: 레이아웃 이름 변경 StickyLogoLayout -> LogoHeaderLayout
  client/src/routes/instructorRouter.ts
  client/src/routes/studentRouter.ts
  client/src/shared/layout/LogoHeaderLayout.tsx
Due: eslint, prettier-check

refactor: heartButtonInvisible -> isHeartButton으로 변경
  client/src/domain/instructor/component/course/CourseCardContainer.tsx
  client/src/domain/instructor/page/HomePage.tsx
  client/src/shared/components/course/CourseDetailCard.tsx
Due: eslint, prettier-check

fix: heartButton 보이는 로직 수정
  client/src/domain/instructor/page/HomePage.tsx
  client/src/shared/components/course/CourseDetailCard.tsx
Due: eslint, prettier-check

refactor: 하나의 wrapper 에서 isDashboard라는 조건문으로 다른 컴포넌트를 렌더링할 수 있도록 수정
  client/src/shared/components/course/CourseDetailWrapper.tsx
Due: eslint, prettier-check

refactor: 학생 라우터에 CourseDetailPage 반영
  client/src/domain/student/page/course/CourseDetailPage.tsx
  client/src/domain/student/page/index.tsx
  client/src/routes/studentRouter.ts
  client/src/shared/components/course/CourseDetailTabBar.tsx
Due: eslint, prettier-check

fix: course card container 필요없는 조건문 삭제
  client/src/domain/instructor/component/course/CourseCardContainer.tsx
Due: eslint, prettier-check

refactor: 동일한 main 태그를 layout으로 분리
  client/src/shared/components/course/CourseDetailWrapper.tsx
  client/src/shared/layout/LogoHeaderLayout.tsx
Due: eslint, prettier-check

refactor: headerSection을 컴포넌트로 분리
  client/src/shared/components/course/CourseDetailHeader.tsx
  client/src/shared/components/course/CourseDetailWrapper.tsx
  client/src/shared/components/course/CourseInfoCard.tsx
Due: eslint, prettier-check

chore: 필요없는 컴포넌트 제거
  client/src/shared/components/course/CourseDetailWrapper.tsx
Due: eslint, prettier-check

fix: swagger multipart form error
  server/src/main/java/com/seniclass/server/domain/lecture/controller/LectureController.java
  server/src/main/java/com/seniclass/server/domain/student/controller/AssignmentSubmissionController.java
Due: spotless-check

chore: mypage path 기존으로 복귀
  client/src/routes/studentRouter.ts
Due: eslint, prettier-check

fix: 레이아웃 width를 max에서 고정으로 수정
  client/src/shared/layout/LogoHeaderLayout.tsx
Due: eslint, prettier-check

fix: 탭 내에 대시보드, 커리큘럼 페이지 추가
  client/src/domain/student/page/course/CourseDetailPage.tsx
  client/src/domain/student/page/index.tsx
Due: eslint, prettier-check

fix: 내부 videolistItem의 width가 전체레이아웃의 width보다 커지는 문제 해결 고정 width -> w-full로 수정
  client/src/domain/student/component/video/VideoList.tsx
  client/src/domain/student/component/video/VideoListItem.tsx
Due: eslint, prettier-check

feat: 리뷰 관련 API 구현
  server/src/main/java/com/seniclass/server/domain/lecture/controller/ReviewController.java
  server/src/main/java/com/seniclass/server/domain/lecture/domain/Review.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/request/ReviewCreateRequest.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/request/ReviewUpdateRequest.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/ReviewResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/repository/ReviewRepository.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/ReviewService.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/ReviewServiceImpl.java
Due: spotless-check

chore: package script에 student/instructor 추가
  client/package.json
Due: prettier-check

refactor: video type 파일 분리
  client/src/domain/student/types/video.ts
Due: eslint, prettier-check
