Repository softeerbootcamp-6th/Team3-SockThree: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, eslint, prettier-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: spotless-check
        name: Spotless Check (Backend)
        entry: ./server/gradlew -p server spotlessCheck
        language: system
        types: [java]
        files: ^server/
        pass_filenames: false
      - id: eslint
        name: ESLint (Frontend)
        entry: npm run --prefix client lint
        language: system
        files: ^client/.*\.(js|jsx|ts|tsx)$
      - id: prettier-check
        name: Prettier Check (Frontend)
        entry: npm run --prefix client format:check
        language: system
        files: ^client/.*\.(js|jsx|ts|tsx|css|json|md)$

fix: mypage card로 이름 변경 및 mypage card hover 시 너비 늘어나도록 변경
  client/src/domain/student/component/mypage/MyPageCard.tsx
  client/src/domain/student/page/mypage/MyPage.tsx
Due: eslint, prettier-check

feat: accessToken의 저장, 조회 함수 구현. localStorage와 동기화
  client/src/shared/api/token.ts
Due: eslint, prettier-check

feat: API 요청 실패 응답 표준화 함수
  client/src/shared/api/error.ts
Due: eslint, prettier-check

feat: API fetch 기반 공용 클라이언트. - 모든 요청에 refresh 쿠키를 전송한다. - 모든 요청에서 401 에러가 발생할 경우 토큰 재발급 후 재요청한다. - 요청 실패시 표준화했던 ApiError로 에러를 던진다.
  client/src/shared/api/http.ts
Due: eslint, prettier-check

feat: 401 발생시 refresh 토큰 재발급하는 함수 구현 - 401 발생 시 1회 refresh를 수행 후 원래의 요청을 자동으로 재시도 한다. - 만약 refresh에 실패할 경우, 상위로 오류를 던진다.
  client/src/shared/api/refresh.ts
Due: eslint, prettier-check

feat: API 도메인별로 HTTP 메서드 묶음을 생성하는 함수 구현
  client/src/shared/api/createApi.ts
Due: eslint, prettier-check

fix: mock 데이터 수정 및 라우팅 함수 수정
  client/src/domain/student/page/mypage/MyPage.tsx
Due: eslint, prettier-check

chore: gitkeep 파일 삭제
  client/src/shared/api/.gitkeep
Due: none

style: 마이페이지 레이아웃 수정
  client/src/domain/student/page/mypage/MyPage.tsx
Due: eslint, prettier-check

feat: refresh token 쿠키로 전달 및 재사용 방지
  server/src/main/java/com/seniclass/server/domain/auth/controller/AuthController.java
  server/src/main/java/com/seniclass/server/domain/auth/domain/RefreshTokenHash.java
  server/src/main/java/com/seniclass/server/domain/auth/dto/LoginResponse.java
  server/src/main/java/com/seniclass/server/domain/auth/dto/RefreshTokenRequest.java
  server/src/main/java/com/seniclass/server/domain/auth/dto/TokenResponse.java
  server/src/main/java/com/seniclass/server/domain/auth/exception/errorcode/AuthErrorCode.java
  server/src/main/java/com/seniclass/server/domain/auth/repository/RefreshTokenHashRepository.java
  server/src/main/java/com/seniclass/server/domain/auth/service/AuthInterceptor.java
  server/src/main/java/com/seniclass/server/domain/auth/service/AuthService.java
  server/src/main/java/com/seniclass/server/domain/auth/service/JwtTokenProvider.java
  server/src/main/java/com/seniclass/server/domain/auth/service/RedisHashRefreshTokenService.java
Due: spotless-check

feat: Lecture 엔티티에 이미지 URL 포함 - create, update 메서드 파라미터로 이미지 포함
  server/src/main/java/com/seniclass/server/domain/lecture/domain/Lecture.java
Due: spotless-check

feat: LectureController 수정 - create, update 에 파일을 포함할 수 있도록 수정 - update의 경우에는 이미지가 필수가 아니도록 설정
  server/src/main/java/com/seniclass/server/domain/lecture/controller/LectureController.java
Due: spotless-check

feat: LectureService 수정 - create, update 에 파일을 포함할 수 있도록 수정
  server/src/main/java/com/seniclass/server/domain/lecture/service/LectureService.java
Due: spotless-check

style: 파일 경로 변수명 변경
  server/src/main/java/com/seniclass/server/domain/lecture/domain/Lecture.java
Due: spotless-check

feat: service 구현 로직 수정
  server/src/main/java/com/seniclass/server/domain/lecture/service/LectureServiceImpl.java
Due: spotless-check

docs: swagger 문서 설정 수정
  server/src/main/java/com/seniclass/server/domain/lecture/controller/LectureController.java
Due: spotless-check

feat: update 검증 로직 추가 - update 요청자가 본인의 강의에 대한 요청을 한건지 검증
  server/src/main/java/com/seniclass/server/domain/lecture/controller/LectureController.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/LectureService.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/LectureServiceImpl.java
Due: spotless-check

chore: svg 파일 추가
  client/src/assets/icons/default/clock.svg
  client/src/assets/icons/default/delete.svg
  client/src/assets/icons/default/edit.svg
  client/src/assets/icons/default/triangle-down.svg
  client/src/assets/icons/default/triangle-right.svg
  client/src/assets/icons/default/triangle-up.svg
Due: none

refactor: swagger에 역할 명시 및 보완, 필요없는 로직 삭제
  server/src/main/java/com/seniclass/server/domain/lecture/controller/AssignmentController.java
  server/src/main/java/com/seniclass/server/domain/lecture/controller/ChapterController.java
  server/src/main/java/com/seniclass/server/domain/lecture/controller/LectureController.java
  server/src/main/java/com/seniclass/server/domain/student/controller/AssignmentSubmissionController.java
  server/src/main/java/com/seniclass/server/domain/student/controller/InterestingCategoryController.java
  server/src/main/java/com/seniclass/server/domain/student/controller/LectureBookmarkController.java
  server/src/main/java/com/seniclass/server/domain/student/controller/LectureEnrollmentController.java
  server/src/main/java/com/seniclass/server/domain/student/controller/LectureQnaController.java
  server/src/main/java/com/seniclass/server/domain/student/controller/StudentController.java
  server/src/main/java/com/seniclass/server/domain/student/controller/VideoProgressController.java
  server/src/main/java/com/seniclass/server/domain/student/service/AssignmentSubmissionService.java
  server/src/main/java/com/seniclass/server/domain/student/service/AssignmentSubmissionServiceImpl.java
  server/src/test/java/com/seniclass/server/domain/student/service/AssignmentSubmissionServiceTest.java
Due: spotless-check

fix: dateUtil 에서 연도 네 자리도 표현할 수 있도록 수정
  client/src/shared/utils/dateUtils.ts
Due: eslint, prettier-check

feat: 쿠키 전송을 위한 CORS 설정, 메서드 정리
  server/src/main/java/com/seniclass/server/domain/auth/controller/AuthController.java
  server/src/main/java/com/seniclass/server/domain/auth/service/AuthService.java
  server/src/main/java/com/seniclass/server/global/config/web/WebConfig.java
  server/src/main/resources/application-prod.yml
  server/src/main/resources/application.yml
Due: spotless-check

fix: 피드백 반영
  server/src/main/java/com/seniclass/server/domain/auth/service/AuthService.java
  server/src/main/java/com/seniclass/server/domain/auth/service/JwtTokenProvider.java
  server/src/main/java/com/seniclass/server/global/config/web/WebConfig.java
  server/src/main/resources/application-prod.yml
Due: spotless-check

feat: controller requestPart 명칭 통일
  server/src/main/java/com/seniclass/server/domain/lecture/controller/LectureController.java
Due: spotless-check

feat: S3FileStorageService Primary 설정
  server/src/main/java/com/seniclass/server/domain/aws/service/S3FileStorageService.java
Due: spotless-check

feat: LectureResponse에 이미지 URL 포함
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/LectureResponse.java
Due: spotless-check

feat: Lecture 조회시 이미지 presignedURL 포함
  server/src/main/java/com/seniclass/server/domain/lecture/service/LectureServiceImpl.java
Due: spotless-check

feat: 허용 파일 확장자 추가
  server/src/main/java/com/seniclass/server/global/config/FileStorageProperties.java
Due: spotless-check

docs: spotless Apply
  server/src/main/java/com/seniclass/server/domain/lecture/controller/LectureController.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/LectureResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/LectureService.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/LectureServiceImpl.java
  server/src/main/java/com/seniclass/server/global/config/FileStorageProperties.java
Due: spotless-check

docs: swagger 문서에 role 포함
  server/src/main/java/com/seniclass/server/domain/lecture/controller/LectureController.java
Due: spotless-check

fix: 로그 수정
  server/src/main/java/com/seniclass/server/domain/auth/service/AuthService.java
Due: spotless-check

style: Video List에 사용할 작은 progress bar 추가
  client/src/shared/components/ProgressBar.tsx
Due: eslint, prettier-check

style: video list Item 퍼블리싱
  client/src/domain/student/component/video/VideoListItem.tsx
Due: eslint, prettier-check

style: video list 퍼블리싱
  client/src/domain/student/component/video/VideoList.tsx
Due: eslint, prettier-check

style: video list page 마크업
  client/src/domain/student/page/course/CourseDetailVideoListPage.tsx
Due: eslint, prettier-check

refactor: `@Primary` 활용하여 생성자 주입 부분 삭제
  server/src/main/java/com/seniclass/server/domain/student/service/AssignmentSubmissionServiceImpl.java
Due: spotless-check

docs: spotless Apply
  server/src/main/java/com/seniclass/server/domain/student/service/AssignmentSubmissionServiceImpl.java
Due: spotless-check

refactor: formatDate 유틸 사용
  client/src/domain/instructor/component/video/VideoListItem.tsx
Due: eslint, prettier-check

refactor: maxLength 넘어가면 입력 잘리도록 처리하는 util 함수 구현
  client/src/domain/instructor/component/video/UploadVideoItem.tsx
  client/src/domain/instructor/component/video/VideoEditModal.tsx
  client/src/shared/utils/textUtils.ts
Due: eslint, prettier-check

chore: UploadVideoModal로 모달 이름 변경
  client/src/domain/instructor/component/video/UploadVideoModal.tsx
  client/src/domain/instructor/component/video/VideoList.tsx
Due: eslint, prettier-check
