Repository softeerbootcamp-6th/Team3-SockThree: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, eslint, prettier-check

spotless-check:
  name: Spotless Check (Backend)
  entry: ./server/gradlew -p server spotlessCheck
  language: system
  pass_filenames: false

eslint:
  name: ESLint (Frontend)
  entry: npm run --prefix client lint
  language: system

prettier-check:
  name: Prettier Check (Frontend)
  entry: npm run --prefix client format:check
  language: system

fix: PR 리뷰 반영
  server/src/main/java/com/seniclass/server/domain/lecture/service/WidgetSettingServiceImpl.java
Due: spotless-check

feat: 과제 제출 crud 구현
  server/src/main/java/com/seniclass/server/domain/student/controller/AssignmentSubmissionController.java
  server/src/main/java/com/seniclass/server/domain/student/dto/AssignmentSubmissionRequest.java
  server/src/main/java/com/seniclass/server/domain/student/dto/AssignmentSubmissionResponse.java
  server/src/main/java/com/seniclass/server/domain/student/exception/errorcode/AssignmentSubmissionErrorCode.java
  server/src/main/java/com/seniclass/server/domain/student/repository/AssignmentSubmissionRepository.java
  server/src/main/java/com/seniclass/server/domain/student/service/AssignmentSubmissionService.java
  server/src/main/java/com/seniclass/server/domain/student/service/AssignmentSubmissionServiceImpl.java
Due: spotless-check

fix: PR 리뷰 반영
  server/src/main/java/com/seniclass/server/domain/lecture/dto/request/LectureCreateRequest.java
Due: spotless-check

chore: 컨트롤러 swagger 문서 추가
  server/src/main/java/com/seniclass/server/domain/lecture/controller/LectureController.java
Due: spotless-check

chore: 미설치 의존성 설치
  client/package-lock.json
Due: prettier-check

style: reset.css 추가
  client/global.css
Due: prettier-check

chore: 레이아웃 컴포넌트 경로 변경
  client/src/routes/index.tsx
  client/src/shared/layout/InstructorLayout.tsx
  client/src/shared/layout/StudentLayout.tsx
Due: eslint, prettier-check

style: html 내부 스타일 요소 반영 안되는 문제 해결
  client/global.css
Due: prettier-check

fix: typo-label에 line height가 포함되어있던 문제 해결
  client/global.css
Due: prettier-check

chore: gitkeep 파일 삭제
  client/src/domain/instructor/hook/.gitkeep
  client/src/domain/instructor/page/.gitkeep
Due: none

fix: global css 콤마 오류 삭제
  client/global.css
Due: prettier-check

style: 홈페이지 요소 정렬
  client/src/domain/student/page/HomePage.tsx
Due: eslint, prettier-check

chore: 검색바 주석 삭제
  client/src/domain/student/component/ExpandSearchBar.tsx
Due: eslint, prettier-check

style: progress bar md size 수정 w를 더 작게 수정
  client/src/shared/components/ProgressBar.tsx
Due: eslint, prettier-check

style: 마감 임밥 강좌 카드 레이아웃 수정
  client/src/assets/icons/tooltip/tooltip-round.svg
  client/src/domain/student/component/HoverExpandCourseCard.tsx
  client/src/domain/student/view/HoverExpandCourseCardView.tsx
Due: eslint, prettier-check

style: 홈페이지에 선 추가
  client/src/domain/student/page/HomePage.tsx
Due: eslint, prettier-check

style: nav bar logo 크기 수정
  client/src/assets/logo/logo.svg
  client/src/shared/components/Navbar/Navbar.tsx
Due: eslint, prettier-check

chore: eslint에 react plugin 추가
  client/eslint.config.js
  client/package-lock.json
  client/package.json
Due: eslint, prettier-check

chore: svg 파일 이름 수정 및 위치 이동
  client/src/assets/icons/default/soft-star.svg
Due: none

chore: 위젯에 쓰이는 svg 파일 추가
  client/src/assets/icons/default/yellow-star.svg
  client/src/assets/logo/default-avatar.svg
Due: none

chore: 파일명 수정에 따른 경로 수정 반영
  client/src/shared/components/Tooltip.tsx
Due: eslint, prettier-check

style: border radius, 색상 수정
  client/src/shared/components/GradationChip.tsx
Due: eslint, prettier-check

style: 강사 정보 위젯 기본 마크업
  client/src/domain/student/component/widgets/InstructorInfoWidget.tsx
Due: eslint, prettier-check

style: large 사이즈 위젯 스타일 수정
  client/src/domain/student/component/widgets/InstructorInfoWidget.tsx
Due: eslint, prettier-check

chore: 강사 위젯 페이지에 포함 (테스트용)
  client/src/domain/student/page/course/CourseDetailPage.tsx
Due: eslint, prettier-check

chore: 변경한 eslint 규칙을 따르도록 코드 일괄 수정
  client/src/domain/instructor/component/Slider.tsx
  client/src/domain/instructor/component/funnel/FunnelForm.tsx
  client/src/domain/instructor/component/funnel/FunnelHeader.tsx
  client/src/domain/instructor/component/funnel/FunnelSideBar.tsx
  client/src/domain/instructor/component/step/StepCategory.tsx
  client/src/domain/instructor/component/step/StepDateRange.tsx
  client/src/domain/instructor/component/step/StepLevel.tsx
  client/src/domain/instructor/component/step/StepMaxHeadCount.tsx
  client/src/domain/instructor/component/step/StepPrice.tsx
  client/src/domain/instructor/component/step/StepSubCategory.tsx
  client/src/domain/instructor/component/step/StepUploadTimes.tsx
  client/src/domain/instructor/hook/useFunnelController.ts
  client/src/domain/instructor/hook/useFunnelState.ts
  client/src/domain/instructor/page/course/CreateCoursePage.tsx
  client/src/domain/student/component/HoverExpandCourseCard.tsx
  client/src/domain/student/component/mypage/CurrentCourseCard.tsx
  client/src/domain/student/component/widgets/QuestionWidget.tsx
  client/src/domain/student/page/HomePage.tsx
  client/src/domain/student/view/RecommendedCourseListView.tsx
  client/src/routes/index.tsx
  client/src/shared/components/Navbar/Navbar.tsx
  client/src/shared/components/Select.tsx
  client/src/shared/layout/InstructorLayout.tsx
  client/src/shared/layout/NoNavbarLayout.tsx
  client/src/shared/layout/StudentLayout.tsx
Due: eslint, prettier-check

style: 추천 강좌 리스트 아이템 정렬
  client/src/domain/student/component/RecommendedCourseListItem.tsx
Due: eslint, prettier-check

style: 버튼 컴포넌트에서 외부 className을 override할 수 있도록 수정
  client/src/shared/components/Button.tsx
Due: eslint, prettier-check

style: 리뷰 UI 컴포넌트 구현
  client/src/domain/student/component/widgets/ReviewWidget.tsx
Due: eslint, prettier-check

chore: 리뷰 위젯 컴포넌트 실제 페이지에 반영 (mock)
  client/src/domain/student/page/course/CourseDetailPage.tsx
Due: eslint, prettier-check

fix: chip interactive false 속성 수정 hover 했을 때의 효과 없도록 수정
  client/src/shared/components/Chips.tsx
Due: eslint, prettier-check

style: 잘못된 sub gradient 값 수정
  client/global.css
Due: prettier-check

chore: 비디오 플레이 버튼 svg 추가
  client/src/assets/icons/gradient/video-play.svg
Due: none

style: 다음 강좌 위젯 UI 퍼블리싱
  client/src/domain/student/component/widgets/NextLectureWidget.tsx
Due: eslint, prettier-check

chore: prettier 반영
  client/global.css
Due: prettier-check

chore: 의존성 추가
  server/build.gradle
  server/src/main/resources/application.yml
Due: none

feat: AWS SDK config 작성
  server/src/main/java/com/seniclass/server/global/config/aws/AwsConfig.java
Due: spotless-check

Path conditions:
  spotless-check: any of: ^server/ and \.java$
  eslint: any of: ^client/.*\.(js|jsx|ts|tsx)$
  prettier-check: any of: ^client/.*\.(js|jsx|ts|tsx|css|json|md)$
