Repository softeerbootcamp-6th/Team3-SockThree: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, eslint, prettier-check

spotless-check:
  name: Spotless Check (Backend)
  entry: ./server/gradlew -p server spotlessCheck
  language: system
  pass_filenames: false

eslint:
  name: ESLint (Frontend)
  entry: npm run --prefix client lint
  language: system

prettier-check:
  name: Prettier Check (Frontend)
  entry: npm run --prefix client format:check
  language: system

refactor: 함수명 통일
  client/src/domain/instructor/component/video/VideoList.tsx
Due: eslint, prettier-check

fix: file input ref로 처리 및 duration 받아오는 함수 추가
  client/src/domain/instructor/component/video/UploadVideoModal.tsx
Due: eslint, prettier-check

refactor: handleResetAndClose 함수로 분리
  client/src/domain/instructor/component/video/UploadVideoModal.tsx
Due: eslint, prettier-check

chore: prettier 적용
  client/src/shared/utils/dateUtils.ts
Due: eslint, prettier-check

refactor: UploadVideoItem -> EditVideoInfoItem 으로 이름 변경
  client/src/domain/instructor/component/video/EditVideoInfoItem.tsx
  client/src/domain/instructor/component/video/UploadVideoModal.tsx
Due: eslint, prettier-check

feat: UploadTimeService 추가 구현 - UploadTime 엔티티를 LectureId 를 통해 조회 후 리스트로 반환하는 메서드 생성
  server/src/main/java/com/seniclass/server/domain/lecture/exception/errorcode/UploadTimeErrorCode.java
  server/src/main/java/com/seniclass/server/domain/lecture/repository/UploadTimeRepository.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/UploadTimeService.java
Due: spotless-check

feat: 조회 응답 dto 생성 - 강좌 정보 위젯에 해당하는 정보를 반환하는 LectureInfoWidgetResponse 생성 - 강좌의 업로드 시간에 해당하는 정보를 반환하는 UploadTimeResponse 생성
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/LectureInfoWidgetResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/UploadTimeResponse.java
Due: spotless-check

feat: service 코드 생성 - 특정 강좌의 강좌 정보 위젯에 해당하는 정보를 반환하는 메서드 구현
  server/src/main/java/com/seniclass/server/domain/lecture/service/LectureService.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/LectureServiceImpl.java
Due: spotless-check

refactor: dto response, request로 분리
  server/src/main/java/com/seniclass/server/domain/student/controller/AssignmentSubmissionController.java
  server/src/main/java/com/seniclass/server/domain/student/controller/InterestingCategoryController.java
  server/src/main/java/com/seniclass/server/domain/student/controller/LectureBookmarkController.java
  server/src/main/java/com/seniclass/server/domain/student/controller/LectureEnrollmentController.java
  server/src/main/java/com/seniclass/server/domain/student/controller/LectureQnaController.java
  server/src/main/java/com/seniclass/server/domain/student/controller/StudentController.java
  server/src/main/java/com/seniclass/server/domain/student/controller/VideoProgressController.java
  server/src/main/java/com/seniclass/server/domain/student/domain/Student.java
  server/src/main/java/com/seniclass/server/domain/student/dto/request/AssignmentSubmissionFileRequest.java
  server/src/main/java/com/seniclass/server/domain/student/dto/request/InterestingCategoryRequest.java
  server/src/main/java/com/seniclass/server/domain/student/dto/request/LectureBookmarkRequest.java
  server/src/main/java/com/seniclass/server/domain/student/dto/request/LectureEnrollmentRequest.java
  server/src/main/java/com/seniclass/server/domain/student/dto/request/LectureQnaAnswerRequest.java
  server/src/main/java/com/seniclass/server/domain/student/dto/request/LectureQnaRequest.java
  server/src/main/java/com/seniclass/server/domain/student/dto/request/StudentUpdateRequest.java
  server/src/main/java/com/seniclass/server/domain/student/dto/request/VideoProgressRequest.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/AssignmentSubmissionResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/InterestingCategoryResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/LectureBookmarkResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/LectureEnrollmentResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/LectureQnaResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/StudentInfoResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/VideoProgressResponse.java
  server/src/main/java/com/seniclass/server/domain/student/service/AssignmentSubmissionService.java
  server/src/main/java/com/seniclass/server/domain/student/service/AssignmentSubmissionServiceImpl.java
  server/src/main/java/com/seniclass/server/domain/student/service/InterestingCategoryService.java
  server/src/main/java/com/seniclass/server/domain/student/service/InterestingCategoryServiceImpl.java
  server/src/main/java/com/seniclass/server/domain/student/service/LectureBookmarkService.java
  server/src/main/java/com/seniclass/server/domain/student/service/LectureBookmarkServiceImpl.java
  server/src/main/java/com/seniclass/server/domain/student/service/LectureEnrollmentService.java
  server/src/main/java/com/seniclass/server/domain/student/service/LectureEnrollmentServiceImpl.java
  server/src/main/java/com/seniclass/server/domain/student/service/LectureQnaService.java
  server/src/main/java/com/seniclass/server/domain/student/service/LectureQnaServiceImpl.java
  server/src/main/java/com/seniclass/server/domain/student/service/StudentService.java
  server/src/main/java/com/seniclass/server/domain/student/service/StudentServiceImpl.java
  server/src/main/java/com/seniclass/server/domain/student/service/VideoProgressService.java
  server/src/main/java/com/seniclass/server/domain/student/service/VideoProgressServiceImpl.java
  server/src/test/java/com/seniclass/server/domain/student/service/AssignmentSubmissionServiceTest.java
Due: spotless-check

feat: API 생성 - 신청 전 강좌 상세 화면의 강좌 위젯 정보 API 생성
  server/src/main/java/com/seniclass/server/domain/lecture/controller/LectureController.java
Due: spotless-check

chore: dataUtils prettier 적용
  client/src/shared/utils/dateUtils.ts
Due: eslint, prettier-check

docs: spotless Apply
  server/src/main/java/com/seniclass/server/domain/lecture/controller/LectureController.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/LectureInfoWidgetResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/UploadTimeResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/exception/errorcode/UploadTimeErrorCode.java
  server/src/main/java/com/seniclass/server/domain/lecture/repository/UploadTimeRepository.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/LectureServiceImpl.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/UploadTimeService.java
Due: spotless-check

style: 수강 완료 시 border 2 픽셀로 수정
  client/src/domain/student/component/video/VideoListItem.tsx
Due: eslint, prettier-check

chore: react-router-dom 삭제 react-router에 react-router-dom이 통합됨
  client/package-lock.json
  client/package.json
  client/src/routes/index.tsx
Due: eslint, prettier-check

fix: react-router-dom 사용 부분 삭제
  client/src/shared/components/course/CourseDetailTabBar.tsx
  client/src/shared/layout/CourseDashboardLayout.tsx
  client/src/shared/layout/CourseDetailLayout.tsx
Due: eslint, prettier-check

fix: nav bar 탭 이동 경로 절대 경로로 지정
  client/src/shared/components/course/CourseDetailTabBar.tsx
Due: eslint, prettier-check

refactor: createBrowserRouter 방식으로 수정
  client/src/App.tsx
  client/src/routes/index.tsx
Due: eslint, prettier-check

fix: dashboard page index true 삭제
  client/src/routes/index.tsx
Due: eslint, prettier-check

Revert "fix: nav bar 탭 이동 경로 절대 경로로 지정"
  client/src/shared/components/course/CourseDetailTabBar.tsx
Due: eslint, prettier-check

refactor: studentLayout에서 container 분리
  client/src/domain/student/container/NavbarContainer.tsx
  client/src/shared/layout/StudentLayout.tsx
Due: eslint, prettier-check

refactor: InstructorLayout에서 container 분리
  client/src/domain/instructor/container/NavbarContainer.tsx
  client/src/shared/layout/InstructorLayout.tsx
Due: eslint, prettier-check

docs: 리드미 수정
  README.md
Due: none

Update README.md
  README.md
Due: none

fix: URL 경로 수정, swagger 문서 수정
  server/src/main/java/com/seniclass/server/domain/lecture/controller/LectureController.java
Due: spotless-check

feat: 반환할 response dto 정의
  server/src/main/java/com/seniclass/server/domain/student/dto/response/LectureStatisticsResponse.java
Due: spotless-check

docs: spotless Apply
  server/src/main/java/com/seniclass/server/domain/lecture/controller/LectureController.java
Due: spotless-check

feat: video 엔티티 컬럼 추가 - 전체 길이 ( 초 ) 컬럼 추가
  server/src/main/java/com/seniclass/server/domain/lecture/domain/Video.java
Due: spotless-check

docs: spotless Apply
  server/src/main/java/com/seniclass/server/domain/lecture/domain/Video.java
Due: spotless-check

refactor: nav bar 컴포넌트 폴더로 옮김
  client/src/domain/instructor/component/InstructorNavbar.tsx
  client/src/domain/student/component/StudentNavbar.tsx
  client/src/shared/layout/InstructorLayout.tsx
  client/src/shared/layout/StudentLayout.tsx
Due: eslint, prettier-check

fix: 강좌 생성 페이지 layout 제거
  client/src/routes/index.tsx
Due: eslint, prettier-check

feat: 통계 로직을 위한 쿼리 작성
  server/src/main/java/com/seniclass/server/domain/lecture/repository/VideoRepository.java
  server/src/main/java/com/seniclass/server/domain/student/dto/AgeGroupGenderStatsDto.java
  server/src/main/java/com/seniclass/server/domain/student/dto/AssignmentSubmissionStatsDto.java
  server/src/main/java/com/seniclass/server/domain/student/dto/StudentVideoCountDto.java
  server/src/main/java/com/seniclass/server/domain/student/repository/LectureStatisticsRepository.java
Due: spotless-check

feat: 통계 자료 가공 및 검증 후 반환하는 API 구현
  server/src/main/java/com/seniclass/server/domain/student/controller/LectureStatisticsController.java
  server/src/main/java/com/seniclass/server/domain/student/service/LectureStatisticsService.java
  server/src/main/java/com/seniclass/server/domain/student/service/LectureStatisticsServiceImpl.java
Due: spotless-check

feat: 통계 로직 테스트 코드 작성
  server/src/test/java/com/seniclass/server/domain/student/service/LectureStatisticsServiceTest.java
Due: spotless-check

feat: 나의 강좌 현황 위젯 응답 dto 생성
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/MyLectureStatusWidgetResponse.java
Due: spotless-check

feat: 쿼리 구현 - 특정 강의의 학생별 동영상 총 재생 시간 조회 - 특정 강의에 속한 동영상의 개수 조회 - 특정 강의에 속한 동영상의 총 재생 시간 조회
  server/src/main/java/com/seniclass/server/domain/lecture/repository/VideoRepository.java
Due: spotless-check

feat: 쿼리 구현 - 특정 강의의 제출 마감 시간이 이번주이면서 가장 빠른 과제 조회
  server/src/main/java/com/seniclass/server/domain/lecture/repository/AssignmentRepository.java
Due: spotless-check

fix: 피드백 반영
  server/src/main/java/com/seniclass/server/domain/student/repository/LectureStatisticsRepository.java
Due: spotless-check

feat: 서비스 코드 구현 - 진도율, 전체 강좌의 학습 시간과 동영상 개수, 이번주가 마감인 과제 제출에 대한 정보를 dto 로 반환
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/MyLectureStatusWidgetResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/LectureService.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/LectureServiceImpl.java
Due: spotless-check

feat: API 생성
  server/src/main/java/com/seniclass/server/domain/lecture/controller/LectureController.java
Due: spotless-check

refactor: widget domain으로 분리
  server/src/main/java/com/seniclass/server/domain/widget/controller/LectureStatisticsController.java
  server/src/main/java/com/seniclass/server/domain/widget/dto/AgeGroupGenderStatsDto.java
  server/src/main/java/com/seniclass/server/domain/widget/dto/AssignmentSubmissionStatsDto.java
  server/src/main/java/com/seniclass/server/domain/widget/dto/StudentVideoCountDto.java
  server/src/main/java/com/seniclass/server/domain/widget/dto/response/LectureStatisticsResponse.java
  server/src/main/java/com/seniclass/server/domain/widget/repository/LectureStatisticsRepository.java
  server/src/main/java/com/seniclass/server/domain/widget/service/LectureStatisticsService.java
  server/src/main/java/com/seniclass/server/domain/widget/service/LectureStatisticsServiceImpl.java
  server/src/main/java/com/seniclass/server/global/config/redis/RedisConfig.java
  server/src/test/java/com/seniclass/server/domain/widget/service/LectureStatisticsServiceTest.java
Due: spotless-check

Path conditions:
  spotless-check: any of: ^server/ and \.java$
  eslint: any of: ^client/.*\.(js|jsx|ts|tsx)$
  prettier-check: any of: ^client/.*\.(js|jsx|ts|tsx|css|json|md)$
