Repository softeerbootcamp-6th/Team3-SockThree: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, eslint, prettier-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: spotless-check
        name: Spotless Check (Backend)
        entry: ./server/gradlew -p server spotlessCheck
        language: system
        types: [java]
        files: ^server/
        pass_filenames: false
      - id: eslint
        name: ESLint (Frontend)
        entry: npm run --prefix client lint
        language: system
        files: ^client/.*\.(js|jsx|ts|tsx)$
      - id: prettier-check
        name: Prettier Check (Frontend)
        entry: npm run --prefix client format:check
        language: system
        files: ^client/.*\.(js|jsx|ts|tsx|css|json|md)$

chore: Instructorlayout 초기화
  client/src/shared/layout/InstructorLayout.tsx
Due: eslint, prettier-check

fix: video type 관련 props 객체로 받도록 수정
  client/src/domain/student/component/video/VideoList.tsx
  client/src/domain/student/component/video/VideoListItem.tsx
  client/src/domain/student/page/course/CourseCurriculumPage.tsx
Due: eslint, prettier-check

chore: course 관련 컴포넌트 전체 shared로 이동
  client/src/domain/student/page/course/CourseDetailPage.tsx
  client/src/shared/components/course/CourseInfoCardAttend.tsx
  client/src/shared/components/course/CourseInfoCardDefault.tsx
  client/src/shared/components/course/CourseProgressCard.tsx
Due: eslint, prettier-check

feat: curriculum 페이지 추가
  client/src/domain/student/page/index.tsx
Due: eslint, prettier-check

chore: 사용하지 않는 layout 삭제
  client/src/shared/layout/CourseDashboardLayout.tsx
  client/src/shared/layout/CourseDetailLayout.tsx
Due: eslint, prettier-check

feat: 과제 피드백 업데이트 api 구현
  server/src/main/java/com/seniclass/server/domain/lecture/controller/ReviewController.java
  server/src/main/java/com/seniclass/server/domain/student/controller/AssignmentSubmissionController.java
  server/src/main/java/com/seniclass/server/domain/student/dto/request/FeedbackUpdateRequest.java
  server/src/main/java/com/seniclass/server/domain/student/service/AssignmentSubmissionService.java
  server/src/main/java/com/seniclass/server/domain/student/service/AssignmentSubmissionServiceImpl.java
Due: spotless-check

chore: src 내 전체 폴더 구조 정리
  client/src/domain/instructor/component/.gitkeep
  client/src/domain/instructor/component/InstructorNavbar.tsx
  client/src/domain/instructor/component/step/StepDateRange.tsx
  client/src/domain/instructor/component/step/StepMaxHeadCount.tsx
  client/src/domain/instructor/page/homepage/HomePage.tsx
  client/src/domain/instructor/page/index.tsx
  client/src/domain/instructor/page/mypage/MyPage.tsx
  client/src/domain/instructor/view/.gitkeep
  client/src/domain/student/component/.gitkeep
  client/src/domain/student/component/homepage/ExpandSearchBar.tsx
  client/src/domain/student/component/homepage/HoverExpandCourseCard.tsx
  client/src/domain/student/component/homepage/RecommendedCourseListCarousel.tsx
  client/src/domain/student/component/homepage/RecommendedCourseListItem.tsx
  client/src/domain/student/component/navbar/Navbar.tsx
  client/src/domain/student/component/navbar/NavbarItem.tsx
  client/src/domain/student/component/navbar/StudentNavbar.tsx
  client/src/domain/student/hook/.gitkeep
  client/src/domain/student/page/.gitkeep
  client/src/domain/student/page/homepage/HomePage.tsx
  client/src/domain/student/page/index.tsx
  client/src/domain/student/view/.gitkeep
  client/src/domain/student/view/HoverExpandCourseCardView.tsx
  client/src/domain/student/view/RecommendedCourseListView.tsx
  client/src/lib/utils.ts
  client/src/shared/components/Button.tsx
  client/src/shared/components/DatePicker.tsx
  client/src/shared/components/Slider.tsx
  client/src/shared/components/course/CourseInfoCardAttend.tsx
  client/src/shared/components/course/CourseInfoCardDefault.tsx
  client/src/shared/components/course/CourseProgressCard.tsx
  client/src/shared/hook/.gitkeep
  client/src/shared/layout/StudentLayout.tsx
  client/src/shared/shadcn/ui/button.tsx
  client/src/shared/utils/.gitkeep
Due: eslint, prettier-check

feat: errorcode 작성
  server/src/main/java/com/seniclass/server/domain/lecture/exception/errorcode/ReviewErrorCode.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/ReviewServiceImpl.java
Due: spotless-check

fix: 목차마다 강의 인덱스가 1부터 새로 시작되지 않도록 수정
  client/src/domain/student/component/video/VideoList.tsx
  client/src/domain/student/page/course/CourseCurriculumPage.tsx
Due: eslint, prettier-check

refactor: Instructor에도 변경된 router 적용
  client/src/domain/instructor/page/course/CourseDetailPage.tsx
Due: eslint, prettier-check

feat: video list item 재생 버튼 누를 시 비디오 재생 페이지로 이동
  client/src/domain/student/component/video/VideoList.tsx
  client/src/domain/student/component/video/VideoListItem.tsx
Due: eslint, prettier-check

feat: hls.js 설치
  client/package-lock.json
  client/package.json
Due: prettier-check

style: 강의 커리큘럼 페이지 스타일 수정
  client/src/domain/student/page/course/CourseCurriculumPage.tsx
Due: eslint, prettier-check

chore: 폴더 구조 변경에 따른 import 경로 수정
  client/src/domain/student/page/mypage/CurrentCoursePage.tsx
  client/src/domain/student/page/mypage/EndCoursePage.tsx
  client/src/shared/components/CircleButton.tsx
Due: eslint, prettier-check

chore: prettier 적용
  client/src/routes/index.tsx
  client/src/shared/layout/InstructorLayout.tsx
Due: eslint, prettier-check

chore: 경로 수정
  client/src/routes/studentRouter.ts
  client/src/shared/components/Switch.tsx
Due: eslint, prettier-check

chore: eslint 반영
  client/src/shared/components/Switch.tsx
Due: eslint, prettier-check

feat: S3 service에 upload 용 presigned url 생성
  server/src/main/java/com/seniclass/server/domain/aws/service/S3Service.java
Due: spotless-check

feat: 동영상 업로드 요청, presigned url 반환을 위한 dto 생성
  server/src/main/java/com/seniclass/server/domain/lecture/dto/request/VideoUploadRequest.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/VideoUploadResponse.java
Due: spotless-check

feat: 동영상 업로드 요청, finalize 요청 API 구현, errorcode 정의, 강의 업로드 시간 계산 로직 구현
  server/src/main/java/com/seniclass/server/domain/lecture/controller/VideoController.java
  server/src/main/java/com/seniclass/server/domain/lecture/domain/Video.java
  server/src/main/java/com/seniclass/server/domain/lecture/exception/errorcode/VideoErrorCode.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/VideoService.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/VideoServiceImpl.java
Due: spotless-check

feat: lambda 가 호출하는 api에 대해서 requiredauth 명시적으로 필요없음을 표시
  server/src/main/java/com/seniclass/server/domain/auth/service/AuthWebConfig.java
  server/src/main/java/com/seniclass/server/domain/lecture/controller/VideoController.java
Due: spotless-check

feat: 로직은 service에서 처리하도록 수정
  server/src/main/java/com/seniclass/server/domain/lecture/controller/VideoController.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/VideoService.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/VideoServiceImpl.java
Due: spotless-check

chore: UserType 타입 추가
  client/src/shared/types/auth.ts
Due: eslint, prettier-check

feat: 권한 체크 함수 추가
  client/src/shared/auth/checkAuth.ts
Due: eslint, prettier-check

feat: AuthContext, Provider 추가
  client/src/shared/context/AuthContext.tsx
Due: eslint, prettier-check

feat: RootLayout에서 권한 체크 (loader 활용)
  client/src/routes/RootLayout.tsx
Due: eslint, prettier-check

refactor: 커리큘럼 페이지 수정사항 반영 develop 브랜치에 있는 커리큘럼 페이지명으로 변경
  client/src/domain/student/page/course/CourseCurriculumPage.tsx
  client/src/domain/student/page/course/CourseDetailVideoListPage.tsx
Due: eslint, prettier-check

fix: 바뀐 router에 맞게 navbar 수정
  client/src/domain/student/component/navbar/StudentNavbar.tsx
Due: eslint, prettier-check

feat: 동영상 수강 페이지 라우터에 추가
  client/src/domain/student/page/index.tsx
  client/src/routes/studentRouter.ts
Due: eslint, prettier-check

style: 프로그레스바 sm variant 추가
  client/src/shared/components/ProgressBar.tsx
Due: eslint, prettier-check

fix: presigned url 과 함께 반환하도록 수정
  server/src/main/java/com/seniclass/server/domain/lecture/service/LectureServiceImpl.java
Due: spotless-check

fix: filestorageservice 예외 상황 보완 및 error code 생성
  server/src/main/java/com/seniclass/server/domain/aws/exception/errorcode/FileStorageErrorCode.java
  server/src/main/java/com/seniclass/server/domain/aws/service/S3FileStorageService.java
  server/src/test/java/com/seniclass/server/domain/aws/service/S3FileStorageServiceTest.java
Due: spotless-check

feat: 권한에 따라 컴포넌트 분기하는 래퍼
  client/src/routes/RouteByRole.tsx
Due: eslint, prettier-check

fix: user model error 수정
  server/src/main/java/com/seniclass/server/domain/user/domain/User.java
Due: spotless-check

feat: 404 에러 페이지 마크업
  client/src/routes/RouteByRole.tsx
  client/src/shared/page/error/Error404.tsx
Due: eslint, prettier-check

feat: 라우터에 인증, 인가 포함
  client/src/routes/index.tsx
  client/src/routes/instructorRouter.ts
  client/src/routes/studentRouter.ts
Due: eslint, prettier-check

feat: refresh 실패시 로그인 페이지로 리데이렉트
  client/src/shared/api/refresh.ts
Due: eslint, prettier-check

fix: 동영상 재생 페이지 라우팅 위해 course detail wrapper의 children을 outlet으로 변경
  client/src/domain/student/page/course/CourseDetailPage.tsx
  client/src/shared/components/course/CourseDetailWrapper.tsx
Due: eslint, prettier-check

fix: 동영상 재생 페이지 라우터 course detail page 안으로 이동
  client/src/domain/student/page/index.tsx
  client/src/routes/studentRouter.ts
Due: eslint, prettier-check

refactor: index에도 HomePage 컴포넌트를 라우팅
  client/src/routes/index.tsx
Due: eslint, prettier-check
