Repository softeerbootcamp-6th/Team3-SockThree: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, eslint, prettier-check

spotless-check:
  name: Spotless Check (Backend)
  entry: ./server/gradlew -p server spotlessCheck
  language: system
  pass_filenames: false

eslint:
  name: ESLint (Frontend)
  entry: npm run --prefix client lint
  language: system

prettier-check:
  name: Prettier Check (Frontend)
  entry: npm run --prefix client format:check
  language: system

refactor: 컴포넌트 props 타입 정리
  client/src/domain/student/component/course/CourseInfoCardAttend.tsx
Due: eslint, prettier-check

fix: resolve conflict
  server/src/main/java/com/seniclass/server/domain/lecture/service/AssignmentServiceImpl.java
Due: spotless-check

chore: region 추가
  .github/workflows/ci.yml
Due: none

chore: 테스트용 프로필 생성
  .github/workflows/ci.yml
  server/src/main/resources/application-test.yml
Due: none

refactor: 상단 로고 영역을 sticky로 변경
  client/src/shared/layout/NoNavbarLayout.tsx
Due: eslint, prettier-check

fix: 피드백 반영
  server/src/main/java/com/seniclass/server/domain/student/controller/AssignmentSubmissionController.java
  server/src/main/java/com/seniclass/server/domain/student/service/AssignmentSubmissionService.java
  server/src/main/java/com/seniclass/server/domain/student/service/AssignmentSubmissionServiceImpl.java
  server/src/test/java/com/seniclass/server/domain/student/service/AssignmentSubmissionServiceTest.java
Due: spotless-check

refactor: 전체 NoNavbarLayout의 height를 5rem으로 설정, 이를 반영해서 사이드바 top을 6rem으로 지정
  client/src/domain/student/page/course/CourseDetailPage.tsx
  client/src/shared/layout/NoNavbarLayout.tsx
Due: eslint, prettier-check

refactor: api 라우팅 간소화
  server/src/main/java/com/seniclass/server/domain/student/controller/AssignmentSubmissionController.java
  server/src/main/java/com/seniclass/server/domain/student/controller/InterestingCategoryController.java
  server/src/main/java/com/seniclass/server/domain/student/controller/LectureBookmarkController.java
  server/src/main/java/com/seniclass/server/domain/student/controller/LectureEnrollmentController.java
  server/src/main/java/com/seniclass/server/domain/student/controller/LectureQnaController.java
  server/src/main/java/com/seniclass/server/domain/student/controller/VideoProgressController.java
Due: spotless-check

refactor: course detail의 상단 부분을 CourseDetailLayout으로 변경, 라우터에 반영
  client/src/domain/student/page/course/CourseDetailDashboardPage.tsx
  client/src/domain/student/page/course/CourseDetailPage.tsx
  client/src/domain/student/page/index.tsx
  client/src/routes/index.tsx
  client/src/shared/layout/CourseDetailLayout.tsx
Due: eslint, prettier-check

style: NonavbarLayout의 배경색을 bg로 지정
  client/src/shared/layout/NoNavbarLayout.tsx
Due: eslint, prettier-check

feat: WidgetSetting 엔티티 수정 - height, width 삭제 - WidgetSize enum 추가 - 생성자 및 메서드 수정
  server/src/main/java/com/seniclass/server/domain/lecture/domain/WidgetSetting.java
  server/src/main/java/com/seniclass/server/domain/lecture/enums/WidgetSize.java
Due: spotless-check

feat: WidgetSpec record 수정 - height, width 삭제 - WidgetSize enum 추가
  server/src/main/java/com/seniclass/server/domain/lecture/dto/WidgetSpec.java
Due: spotless-check

refactor: TabBar를 별개 컴포넌트로 분리
  client/src/shared/components/course/CourseDetailTabBar.tsx
  client/src/shared/layout/CourseDetailLayout.tsx
Due: eslint, prettier-check

fix: 수강 중인 경우 "대시보드" 탭이 가장 앞으로 오도록 수정
  client/src/shared/components/course/CourseDetailTabBar.tsx
Due: eslint, prettier-check

fix: review 테이블 컬럼 명칭 수정
  server/src/main/java/com/seniclass/server/domain/lecture/domain/Review.java
Due: spotless-check

style: 탭바 요구사항에 맞게 스타일 수정
  client/src/shared/components/course/CourseDetailTabBar.tsx
  client/src/shared/layout/CourseDetailLayout.tsx
Due: eslint, prettier-check

feature: 대시보드 페이지 라우팅에 추가
  client/src/domain/student/page/index.tsx
  client/src/routes/index.tsx
Due: eslint, prettier-check

feat: 엔티티 변경 사항 반영
  server/src/main/java/com/seniclass/server/domain/lecture/service/WidgetSettingServiceImpl.java
Due: spotless-check

style: video edit modal 기본 마크업
  client/src/domain/instructor/component/video/VideoEditModal.tsx
Due: eslint, prettier-check

feat: video list에 모달 연결
  client/src/domain/instructor/component/video/VideoList.tsx
Due: eslint, prettier-check

fix: Repository 키 Long 으로 수정
  server/src/main/java/com/seniclass/server/domain/lecture/repository/WidgetSettingRepository.java
Due: spotless-check

feat: WidgetSetting update 메서드 추가
  server/src/main/java/com/seniclass/server/domain/lecture/domain/WidgetSetting.java
Due: spotless-check

feat: WidgetSetting 업데이트를 위한 dto 생성 - 순서를 위한 LinkedHashMap 사용
  server/src/main/java/com/seniclass/server/domain/lecture/dto/request/WidgetSettingUpdateRequest.java
Due: spotless-check

style: card w-full로 변경
  client/src/domain/instructor/page/course/CourseDetailPage.tsx
  client/src/shared/components/course/CourseInfoCard.tsx
Due: eslint, prettier-check

style: 사이드 영역 card width 수정
  client/src/domain/student/component/course/CourseInfoCardAttend.tsx
  client/src/domain/student/component/course/CourseInfoCardDefault.tsx
Due: eslint, prettier-check

style: nav tab bar width 수정
  client/src/shared/components/course/CourseDetailTabBar.tsx
Due: eslint, prettier-check

refactor: 대시보드 레이아웃, 이외의 레이아웃으로 분리
  client/src/routes/index.tsx
  client/src/shared/layout/CourseDashboardLayout.tsx
Due: eslint, prettier-check

feat: WidgetSetting 업데이트 로직 구현
  server/src/main/java/com/seniclass/server/domain/lecture/exception/errorcode/WidgetSettingErrorCode.java
  server/src/main/java/com/seniclass/server/domain/lecture/repository/WidgetSettingRepository.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/WidgetSettingService.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/WidgetSettingServiceImpl.java
Due: spotless-check

style: nav bar 패딩 추가
  client/src/shared/components/course/CourseDetailTabBar.tsx
Due: eslint, prettier-check

feat: WidgetSetting 업데이트 반환 dto 추가
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/WidgetSettingResponse.java
Due: spotless-check

feat: WidgetSetting 컨트롤러 구현
  server/src/main/java/com/seniclass/server/domain/lecture/controller/WidgetSettingController.java
Due: spotless-check

style: spacing 영역을 다른 레이아웃과 통일
  client/src/shared/layout/CourseDashboardLayout.tsx
Due: eslint, prettier-check

docs: swagger 문서 추가
  server/src/main/java/com/seniclass/server/domain/lecture/dto/WidgetSpec.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/request/WidgetSettingUpdateRequest.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/WidgetSettingResponse.java
Due: spotless-check

docs: spotless Apply
  server/src/main/java/com/seniclass/server/domain/lecture/controller/WidgetSettingController.java
  server/src/main/java/com/seniclass/server/domain/lecture/domain/WidgetSetting.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/WidgetSpec.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/request/WidgetSettingUpdateRequest.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/WidgetSettingResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/repository/WidgetSettingRepository.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/WidgetSettingService.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/WidgetSettingServiceImpl.java
Due: spotless-check

fix: 남은 정원이 0명일 경우 처리
  client/src/domain/instructor/page/course/CourseDetailPage.tsx
  client/src/shared/components/course/CourseInfoCard.tsx
Due: eslint, prettier-check

style: tooltip 내용에 따라 tooltip 크기 변하도록 수정
  client/src/shared/components/RoundTooltip.tsx
Due: eslint, prettier-check

style: 레이아웃 width를 위젯에 맞도록 수정
  client/src/domain/student/component/course/CourseInfoCardAttend.tsx
  client/src/domain/student/component/course/CourseInfoCardDefault.tsx
  client/src/shared/layout/CourseDashboardLayout.tsx
  client/src/shared/layout/CourseDetailLayout.tsx
Due: eslint, prettier-check

style: 레이아웃 바깥 container의 spacing을 padding 대신 mx-auto 처리
  client/src/shared/layout/CourseDashboardLayout.tsx
  client/src/shared/layout/CourseDetailLayout.tsx
Due: eslint, prettier-check

chore: NonavbarLayout이름을 StickyLogoLayout으로 수정
  client/src/routes/index.tsx
  client/src/shared/layout/StickyLogoLayout.tsx
Due: eslint, prettier-check

chore: Dashboard 영역에 목 컴포넌트 렌더링
  client/src/domain/student/page/course/CourseDetailDashboardPage.tsx
Due: eslint, prettier-check

Path conditions:
  spotless-check: any of: ^server/ and \.java$
  eslint: any of: ^client/.*\.(js|jsx|ts|tsx)$
  prettier-check: any of: ^client/.*\.(js|jsx|ts|tsx|css|json|md)$
