Repository softeerbootcamp-6th/Team3-SockThree: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, eslint, prettier-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: spotless-check
        name: Spotless Check (Backend)
        entry: ./server/gradlew -p server spotlessCheck
        language: system
        types: [java]
        files: ^server/
        pass_filenames: false
      - id: eslint
        name: ESLint (Frontend)
        entry: npm run --prefix client lint
        language: system
        files: ^client/.*\.(js|jsx|ts|tsx)$
      - id: prettier-check
        name: Prettier Check (Frontend)
        entry: npm run --prefix client format:check
        language: system
        files: ^client/.*\.(js|jsx|ts|tsx|css|json|md)$

chore: circle-delete svg 파일 추가
  client/src/assets/icons/default/circle-delete.svg
Due: none

style: 기본 모달 위치, rounded 수정
  client/src/shared/components/Modal.tsx
Due: eslint, prettier-check

style: video list item에 삭제 버튼 추가 비디오 리스트 화면에서 비디오 삭제할 수 있게 하기 위함
  client/src/domain/instructor/component/video/VideoListItem.tsx
Due: eslint, prettier-check

style: 동영상 업로드 선택 시 정보를 입력할 수 있는 칸
  client/src/domain/instructor/component/video/UploadVideoItem.tsx
Due: eslint, prettier-check

style: video 추가 시 나타나는 모달 퍼블리싱
  client/src/domain/instructor/component/video/VideoEditModal.tsx
Due: eslint, prettier-check

refactor: isOpen -> isListOpen으로 명확하게 수정
  client/src/domain/instructor/component/video/VideoList.tsx
Due: eslint, prettier-check

feat: presignedurl 생성 로직 추가
  server/src/main/java/com/seniclass/server/domain/aws/service/S3Service.java
Due: spotless-check

feat: filestorage 추상화 및 aws s3 활용한 구현
  server/src/main/java/com/seniclass/server/domain/aws/service/S3FileStorageService.java
  server/src/main/java/com/seniclass/server/global/service/FileStorageService.java
Due: spotless-check

feat: 파일 업로드 s3로 변경
  server/src/main/java/com/seniclass/server/domain/student/domain/AssignmentSubmission.java
  server/src/main/java/com/seniclass/server/domain/student/dto/AssignmentSubmissionResponse.java
  server/src/main/java/com/seniclass/server/domain/student/service/AssignmentSubmissionServiceImpl.java
Due: spotless-check

docs: profile 정리 및 application.yml 이 기본이 되도록 설정 변경
  server/src/main/resources/application-dev.yml
  server/src/main/resources/application-prod.yml
  server/src/main/resources/application-test.yml
  server/src/main/resources/application.yml
Due: none

docs: 필요없는 secret 제거
  .github/workflows/ci.yml
Due: none

feat: mock을 이용한 테스트 추가
  server/src/test/java/com/seniclass/server/domain/aws/service/S3FileStorageServiceTest.java
  server/src/test/java/com/seniclass/server/domain/student/service/AssignmentSubmissionServiceTest.java
Due: spotless-check

refactor: 화살표 함수로 변경
  client/src/domain/student/component/widgets/NextLectureWidget.tsx
Due: eslint, prettier-check

chore: 컴포넌트명과 파일명을 통일
  client/src/domain/student/component/widgets/NextLectureWidget.tsx
Due: eslint, prettier-check

feat: 강좌 설명 입력 기능 추가
  client/src/domain/instructor/component/video/UploadVideoItem.tsx
Due: eslint, prettier-check

feat: video 파일 선택 시 video upload item 추가 및 video upload item 삭제 기능
  client/src/domain/instructor/component/video/VideoEditModal.tsx
Due: eslint, prettier-check

refactor: 화살표 함수로 변경
  client/src/shared/utils/dateUtils.ts
Due: eslint, prettier-check

chore: eslint 규칙에 리액트 컴포넌트 화살표형 함수 추가
  client/eslint.config.js
Due: eslint, prettier-check

chore: 변경된 eslint 규칙 지키도록 일괄 리팩토링 - 화살표 함수 사용하도록 일괄 변경
  client/src/domain/instructor/component/step/StepUploadTimes.tsx
  client/src/domain/student/component/course/CourseInfoCardAttend.tsx
  client/src/domain/student/component/course/CourseInfoCardDefault.tsx
  client/src/shared/components/Button.tsx
  client/src/shared/components/CircleButton.tsx
  client/src/shared/components/Switch.tsx
Due: eslint, prettier-check

chore: import 방식 변경
  client/src/shared/layout/CourseDetailLayout.tsx
Due: eslint, prettier-check

docs: WidgetSettingUpdateRequest dto 제한 조건 추가
  server/src/main/java/com/seniclass/server/domain/lecture/dto/request/WidgetSettingUpdateRequest.java
Due: spotless-check

style: 오타 수정
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/WidgetSettingResponse.java
Due: spotless-check

fix: 오류 수정 - spec 검증 로직 오류 수정 - 사용하지 않는 에러 코드 삭제
  server/src/main/java/com/seniclass/server/domain/lecture/exception/errorcode/WidgetSettingErrorCode.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/WidgetSettingServiceImpl.java
Due: spotless-check

chore: import 방식 수정
  client/src/routes/index.tsx
Due: eslint, prettier-check

chore: 주석 수정
  client/src/routes/index.tsx
Due: eslint, prettier-check

docs: spotless Apply
  server/src/main/java/com/seniclass/server/domain/lecture/dto/request/WidgetSettingUpdateRequest.java
  server/src/main/java/com/seniclass/server/domain/lecture/exception/errorcode/WidgetSettingErrorCode.java
Due: spotless-check

feat: 영상 Id 기준으로 삭제할 수 있도록 처리
  client/src/domain/instructor/component/video/UploadVideoItem.tsx
  client/src/domain/instructor/component/video/VideoEditModal.tsx
Due: eslint, prettier-check

fix: 한글 maxLength + 1 까지 입력되는 오류 수정
  client/src/domain/instructor/component/video/UploadVideoItem.tsx
Due: eslint, prettier-check

feat: 기존에 입력된 목차명 props로 받아올 수 있도록 수정
  client/src/domain/instructor/component/video/VideoEditModal.tsx
  client/src/domain/instructor/component/video/VideoList.tsx
Due: eslint, prettier-check

fix: profile에서 중복 설정 제거
  server/src/main/java/com/seniclass/server/domain/aws/service/S3FileStorageService.java
Due: spotless-check

fix: key값을 배열의 인덱스가 아닌 고유 Id로 설정
  client/src/domain/instructor/component/video/VideoEditModal.tsx
Due: eslint, prettier-check

chore: eslint, prettier 적용
  client/src/domain/instructor/component/video/VideoEditModal.tsx
  client/src/domain/instructor/component/video/VideoList.tsx
Due: eslint, prettier-check

docs: 8080포트 외부 접속 차단
  docker-compose.yml
Due: none

fix: hidden 설정 제거
  server/src/main/java/com/seniclass/server/domain/lecture/controller/WidgetSettingController.java
Due: spotless-check

fix: MAX_ROWS 크기 수정
  server/src/main/java/com/seniclass/server/domain/lecture/service/WidgetSettingServiceImpl.java
Due: spotless-check

fix: WidgetSpec 수정 - 검증 애노테이션 추가 - Schema 예시 수정
  server/src/main/java/com/seniclass/server/domain/lecture/dto/WidgetSpec.java
Due: spotless-check

fix: updateRequest dto 수정 - Map이 아닌 ArrayList 로 변경 - list에 값이 6개 들어오도록 검증
  server/src/main/java/com/seniclass/server/domain/lecture/dto/request/WidgetSettingUpdateRequest.java
Due: spotless-check

feat: updateWidgetSetting service 로직 수정 - type 을 기반으로 검증하도록 수정
  server/src/main/java/com/seniclass/server/domain/lecture/service/WidgetSettingServiceImpl.java
Due: spotless-check

docs: swagger 문서에 role 추가
  server/src/main/java/com/seniclass/server/domain/lecture/controller/WidgetSettingController.java
Due: spotless-check

docs: spotless Apply
  server/src/main/java/com/seniclass/server/domain/lecture/controller/WidgetSettingController.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/WidgetSpec.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/request/WidgetSettingUpdateRequest.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/WidgetSettingServiceImpl.java
Due: spotless-check
