Repository softeerbootcamp-6th/Team3-SockThree: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, eslint, prettier-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: spotless-check
        name: Spotless Check (Backend)
        entry: ./server/gradlew -p server spotlessCheck
        language: system
        types: [java]
        files: ^server/
        pass_filenames: false
      - id: eslint
        name: ESLint (Frontend)
        entry: npm run --prefix client lint
        language: system
        files: ^client/.*\.(js|jsx|ts|tsx)$
      - id: prettier-check
        name: Prettier Check (Frontend)
        entry: npm run --prefix client format:check
        language: system
        files: ^client/.*\.(js|jsx|ts|tsx|css|json|md)$

feat: dto 생성자 추가 및 swagger 문서 설정
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/MyLectureStatusWidgetResponse.java
Due: spotless-check

docs: spotlessApply
  server/src/main/java/com/seniclass/server/domain/lecture/repository/VideoRepository.java
Due: spotless-check

style: 강좌 상세 카드 (가격 포험) 퍼블리싱
  client/src/shared/components/course/CourseDetailCard.tsx
Due: eslint, prettier-check

fix: lint 에러 수정
  client/src/shared/components/course/CourseDetailCard.tsx
Due: eslint, prettier-check

fix: 일정 비율 이상 수강 체크로 쿼리 수정
  server/src/main/java/com/seniclass/server/domain/widget/repository/LectureStatisticsRepository.java
Due: spotless-check

refactor: 변수명 변경 및 삼항연산자로 조건문 단순화
  client/src/shared/utils/dateUtils.ts
Due: eslint, prettier-check

fix: 중복 로직 제거
  server/src/main/java/com/seniclass/server/domain/lecture/repository/VideoRepository.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/LectureServiceImpl.java
Due: spotless-check

style: 0원 일때 무료로 수정
  client/src/shared/components/course/CourseDetailCard.tsx
Due: eslint, prettier-check

style: 강좌 상세 카드(progress bar 표시) 퍼블리싱
  client/src/domain/student/component/course/CourseProgressCard.tsx
Due: eslint, prettier-check

fix: lint 에러 수정
  client/src/domain/student/component/course/CourseProgressCard.tsx
Due: eslint, prettier-check

chore: MyCoursePage -> CurrentCoursePage로 변경
  client/src/domain/student/page/index.tsx
  client/src/domain/student/page/mypage/CurrentCoursePage.tsx
  client/src/routes/index.tsx
Due: eslint, prettier-check

fix: routing 경로 my-course에서 current-course로 변경
  client/src/routes/index.tsx
Due: eslint, prettier-check

fix: 잘못된 삭제 수정
  server/src/main/java/com/seniclass/server/domain/lecture/repository/VideoRepository.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/LectureServiceImpl.java
Due: spotless-check

feat: 배너 정보를 포함하는 dto 생성
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/LectureBannerResponse.java
Due: spotless-check

fix: 강의 id로 수강생 수를 조회했을 때 반환 값을 Integer 로 변경
  server/src/main/java/com/seniclass/server/domain/student/repository/LectureEnrollmentRepository.java
Due: spotless-check

feat: 강의 Id 로 해당 강의의 북마크 개수를 조회
  server/src/main/java/com/seniclass/server/domain/student/repository/LectureBookmarkRepository.java
Due: spotless-check

feat: 서비스에서 강의 배너에 들어갈 정보 가공 및 응답 dto 생성 - 강의 이미지 Presigned URL 생성 - 강의 찜 개수 - 강의의 현재 수강 인원 - 강의 기간 계산
  server/src/main/java/com/seniclass/server/domain/lecture/service/LectureService.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/LectureServiceImpl.java
Due: spotless-check

feat: API 생성
  server/src/main/java/com/seniclass/server/domain/lecture/controller/LectureController.java
Due: spotless-check

docs: swagger 문서 작성
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/LectureBannerResponse.java
Due: spotless-check

docs: spotless Apply
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/LectureBannerResponse.java
Due: spotless-check

style: InfoChip 공통 컴포넌트 제작
  client/src/shared/components/InfoChip.tsx
Due: eslint, prettier-check

style: 수강 중인 강좌 페이지 마크업
  client/src/domain/student/page/mypage/CurrentCoursePage.tsx
Due: eslint, prettier-check

feat: 라우터에 현재 수강중인 강좌 페이지 추가
  client/src/routes/index.tsx
Due: eslint, prettier-check

feature: 강좌 상세 카드 추가 및 강좌 상세 페이지 이동 기능 추가
  client/src/domain/student/component/course/CourseProgressCard.tsx
  client/src/domain/student/page/mypage/CurrentCoursePage.tsx
Due: eslint, prettier-check

fix: currentCourseLength에 mockdata 맞춤
  client/src/domain/student/page/mypage/CurrentCoursePage.tsx
Due: eslint, prettier-check

fix: lint 에러 해결
  client/src/domain/student/page/mypage/CurrentCoursePage.tsx
Due: eslint, prettier-check

fix: prettier 적용
  client/src/shared/utils/dateUtils.ts
Due: eslint, prettier-check

fix: react-router-dom 사용코드 삭제
  client/src/domain/student/page/mypage/CurrentCoursePage.tsx
Due: eslint, prettier-check

feat: 검색바 input 마크업
  client/src/domain/student/component/search/SearchBar.tsx
Due: eslint, prettier-check

style: 수강완료 강좌 페이지 퍼블리싱
  client/src/domain/student/page/mypage/EndCoursePage.tsx
Due: eslint, prettier-check

feat: 수강 완료 강좌 페이지 라우팅 연결
  client/src/domain/student/page/index.tsx
  client/src/routes/index.tsx
Due: eslint, prettier-check

feat: value 값 디바운싱하는 훅 추가
  client/src/domain/student/component/search/SearchBar.tsx
Due: eslint, prettier-check

feat: searchbar에 디바운스 추가 300ms 딜레이 후 상위 value를 debounced로 변경
  client/src/domain/student/component/search/SearchBar.tsx
Due: eslint, prettier-check

style: 검색바 스타일 추가
  client/src/domain/student/component/search/SearchBar.tsx
Due: eslint, prettier-check

refactor: 검색어 input에 text 타입 추가
  client/src/domain/student/component/search/SearchBar.tsx
Due: eslint, prettier-check

chore: 필터, 정렬 아이콘 svg
  client/src/assets/icons/default/filtering.svg
  client/src/assets/icons/default/sorting.svg
Due: none

style: 필터링 ui 버튼 퍼블리싱
  client/src/domain/student/component/search/FilterButton.tsx
Due: eslint, prettier-check
