Repository softeerbootcamp-6th/Team3-SockThree: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, eslint, prettier-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: spotless-check
        name: Spotless Check (Backend)
        entry: ./server/gradlew -p server spotlessCheck
        language: system
        types: [java]
        files: ^server/
        pass_filenames: false
      - id: eslint
        name: ESLint (Frontend)
        entry: npm run --prefix client lint
        language: system
        files: ^client/.*\.(js|jsx|ts|tsx)$
      - id: prettier-check
        name: Prettier Check (Frontend)
        entry: npm run --prefix client format:check
        language: system
        files: ^client/.*\.(js|jsx|ts|tsx|css|json|md)$

refactor: 비디오 업로드 모달 관련 훅 분리
  client/src/domain/instructor/component/video/UploadVideoModal.tsx
  client/src/domain/instructor/hook/useUploadVideoModal.ts
Due: eslint, prettier-check

feat: 리뷰 개수 조회 쿼리 수정
  server/src/main/java/com/seniclass/server/domain/lecture/repository/ReviewRepository.java
  server/src/main/java/com/seniclass/server/domain/widget/service/WidgetServiceImpl.java
Due: spotless-check

refactor: URLSearchParams와 FilterState 변환 유틸 생성
  client/src/domain/student/page/course/SearchResultPage.tsx
  client/src/shared/utils/filterQuery.ts
Due: eslint, prettier-check

fix: 모달 속 필터 변경시, 다른 filterState가 초기화 되는 문제 해결
  client/src/domain/student/component/search/FilterModal.tsx
Due: eslint, prettier-check

refactor: filterQuery의 타입을 제네릭으로 변경
  client/src/domain/student/page/course/SearchResultPage.tsx
  client/src/shared/utils/filterQuery.ts
Due: eslint, prettier-check

chore: RootLayout 경로 변경
  client/src/routes/index.tsx
  client/src/shared/layout/RootLayout.tsx
Due: eslint, prettier-check

chore: useAuth hook 폴더 이하로 이동
  client/src/shared/context/AuthContext.tsx
  client/src/shared/hook/useAuth.tsx
Due: eslint, prettier-check

chore: 변경된 useAuth 경로 반영
  client/src/routes/RouteByRole.tsx
Due: eslint, prettier-check

chore: queryClient 별도 파일 분리
  client/src/routes/RootLayout.tsx
  client/src/shared/utils/queryClient.ts
Due: eslint, prettier-check

chore: dotenv-cli 설치 스크립트에서 환경변수를 읽을 수 있도록 하기 위해 설치
  client/package-lock.json
  client/package.json
Due: prettier-check

chore: script에 openapi 관련 명령어 추가
  client/package.json
Due: prettier-check

chore: 최신 openapi 파일 반영
  client/src/shared/types/openapi.ts
Due: eslint, prettier-check

chore: prettier ignore에 openapi.ts 추가
  client/.prettierignore
Due: none

fix: queryClient import하지 않아서 발생하는 에러 수정
  client/src/routes/index.tsx
Due: eslint, prettier-check

chore: api 관련 core 함수들 폴더링
  client/src/shared/api/auth.ts
  client/src/shared/api/core/createApi.ts
  client/src/shared/api/core/error.ts
  client/src/shared/api/core/http.ts
  client/src/shared/api/core/refresh.ts
  client/src/shared/api/core/token.ts
  client/src/shared/auth/checkAuth.ts
Due: eslint, prettier-check

chore: required = true 추가
  server/src/main/java/com/seniclass/server/domain/auth/dto/LoginResponse.java
  server/src/main/java/com/seniclass/server/domain/auth/dto/RegisterResponse.java
  server/src/main/java/com/seniclass/server/domain/auth/dto/TokenResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/ChapterResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/LectureBannerResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/LectureResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/MyLectureStatusWidgetResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/ReviewResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/UploadTimeResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/VideoUploadResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/WidgetSettingResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/AssignmentSubmissionResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/InterestingCategoryResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/LectureBookmarkResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/LectureEnrollmentResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/LectureQnaResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/VideoProgressResponse.java
  server/src/main/java/com/seniclass/server/domain/widget/dto/response/AssignmentWidgetResponse.java
  server/src/main/java/com/seniclass/server/domain/widget/dto/response/LectureStatisticsResponse.java
  server/src/main/java/com/seniclass/server/domain/widget/dto/response/QnaWidgetResponse.java
  server/src/main/java/com/seniclass/server/domain/widget/dto/response/ReviewWidgetResponse.java
  server/src/main/java/com/seniclass/server/domain/widget/dto/response/TeacherWidgetResponse.java
Due: spotless-check

chore: 스키마 계층화 시도
  server/src/main/java/com/seniclass/server/domain/auth/dto/LoginResponse.java
  server/src/main/java/com/seniclass/server/domain/auth/dto/RegisterResponse.java
  server/src/main/java/com/seniclass/server/domain/auth/dto/TokenResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/ChapterResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/LectureBannerResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/LectureResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/MyLectureStatusWidgetResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/ReviewResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/UploadTimeResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/VideoUploadResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/WidgetSettingResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/AssignmentSubmissionResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/InterestingCategoryResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/LectureBookmarkResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/LectureEnrollmentResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/LectureQnaResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/VideoProgressResponse.java
  server/src/main/java/com/seniclass/server/domain/widget/dto/response/LectureStatisticsResponse.java
  server/src/main/java/com/seniclass/server/domain/widget/dto/response/TeacherWidgetResponse.java
Due: spotless-check

fix: formatTime 함수명 formatSecondsToMMSS로 변경
  client/src/shared/components/video/VideoSideMenuVideoList.tsx
  client/src/shared/utils/timeUtils.ts
Due: eslint, prettier-check

chore: deprecated 제거
  server/src/main/java/com/seniclass/server/domain/auth/dto/LoginResponse.java
  server/src/main/java/com/seniclass/server/domain/auth/dto/RegisterResponse.java
  server/src/main/java/com/seniclass/server/domain/auth/dto/TokenResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/ChapterResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/LectureBannerResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/LectureResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/MyLectureStatusWidgetResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/ReviewResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/UploadTimeResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/VideoUploadResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/WidgetSettingResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/AssignmentSubmissionResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/InterestingCategoryResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/LectureBookmarkResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/LectureEnrollmentResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/LectureQnaResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/VideoProgressResponse.java
  server/src/main/java/com/seniclass/server/domain/widget/dto/response/AssignmentWidgetResponse.java
  server/src/main/java/com/seniclass/server/domain/widget/dto/response/LectureStatisticsResponse.java
  server/src/main/java/com/seniclass/server/domain/widget/dto/response/QnaWidgetResponse.java
  server/src/main/java/com/seniclass/server/domain/widget/dto/response/ReviewWidgetResponse.java
  server/src/main/java/com/seniclass/server/domain/widget/dto/response/TeacherWidgetResponse.java
  server/src/main/java/com/seniclass/server/global/exception/ErrorResponse.java
  server/src/main/java/com/seniclass/server/global/response/CommonResponse.java
Due: spotless-check

fix: 타입 에러 해결 (undefined일 경우 가드 처리)
  client/src/shared/api/auth.ts
Due: eslint, prettier-check

refactor: Login 페이지에서는 기본 login api 함수를 호출하도록 수정
  client/src/shared/hook/useLoginForm.ts
Due: eslint, prettier-check

refactor: LoginPage의 QueryClientProvider 삭제
  client/src/routes/index.tsx
Due: eslint, prettier-check

refactor: 불필요한 Abortsignal 삭제
  client/src/shared/api/auth.ts
Due: eslint, prettier-check

chore: 계층화 불가능 롤백
  server/src/main/java/com/seniclass/server/domain/auth/dto/LoginResponse.java
  server/src/main/java/com/seniclass/server/domain/auth/dto/RegisterResponse.java
  server/src/main/java/com/seniclass/server/domain/auth/dto/TokenResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/ChapterResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/LectureBannerResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/LectureResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/MyLectureStatusWidgetResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/ReviewResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/UploadTimeResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/VideoUploadResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/WidgetSettingResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/AssignmentSubmissionResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/InterestingCategoryResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/LectureBookmarkResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/LectureEnrollmentResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/LectureQnaResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/VideoProgressResponse.java
  server/src/main/java/com/seniclass/server/domain/widget/dto/response/AssignmentWidgetResponse.java
  server/src/main/java/com/seniclass/server/domain/widget/dto/response/LectureStatisticsResponse.java
  server/src/main/java/com/seniclass/server/domain/widget/dto/response/QnaWidgetResponse.java
  server/src/main/java/com/seniclass/server/domain/widget/dto/response/ReviewWidgetResponse.java
  server/src/main/java/com/seniclass/server/domain/widget/dto/response/TeacherWidgetResponse.java
  server/src/main/java/com/seniclass/server/global/exception/ErrorResponse.java
  server/src/main/java/com/seniclass/server/global/response/CommonResponse.java
Due: spotless-check

refactor: reduce 적용
  client/src/shared/components/video/VideoSideMenuItem.tsx
Due: eslint, prettier-check

chore: 누락 부분 추가
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/AssignmentResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/LectureInfoWidgetResponse.java
  server/src/main/java/com/seniclass/server/domain/student/dto/response/StudentInfoResponse.java
Due: spotless-check

docs: spotless Apply
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/AssignmentResponse.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/response/LectureInfoWidgetResponse.java
Due: spotless-check

feat: 수강생 통계를 위한 repository method 정의
  server/src/main/java/com/seniclass/server/domain/lecture/repository/AssignmentRepository.java
  server/src/main/java/com/seniclass/server/domain/lecture/repository/VideoRepository.java
  server/src/main/java/com/seniclass/server/domain/student/repository/AssignmentSubmissionRepository.java
  server/src/main/java/com/seniclass/server/domain/student/repository/LectureEnrollmentRepository.java
  server/src/main/java/com/seniclass/server/domain/student/repository/VideoProgressRepository.java
Due: spotless-check

feat: 수강생 통계를 위한 errorcode 정의 및 기존 errorcode 경로 리팩토링
  server/migration_add_feedback_column.sql
  server/src/main/java/com/seniclass/server/domain/lecture/dto/request/LectureCreateRequest.java
  server/src/main/java/com/seniclass/server/domain/lecture/dto/request/LectureUpdateRequest.java
  server/src/main/java/com/seniclass/server/domain/lecture/exception/errorcode/LectureErrorCode.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/AssignmentServiceImpl.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/ChapterServiceImpl.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/LectureServiceImpl.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/ReviewServiceImpl.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/VideoServiceImpl.java
  server/src/main/java/com/seniclass/server/domain/lecture/service/WidgetSettingServiceImpl.java
  server/src/main/java/com/seniclass/server/domain/student/exception/errorcode/StudentErrorCode.java
  server/src/main/java/com/seniclass/server/domain/student/service/AssignmentSubmissionServiceImpl.java
  server/src/main/java/com/seniclass/server/domain/student/service/LectureBookmarkServiceImpl.java
  server/src/main/java/com/seniclass/server/domain/student/service/LectureEnrollmentServiceImpl.java
  server/src/main/java/com/seniclass/server/domain/student/service/LectureQnaServiceImpl.java
  server/src/main/java/com/seniclass/server/domain/student/service/VideoProgressServiceImpl.java
  server/src/main/java/com/seniclass/server/domain/user/exception/errorcode/UserErrorCode.java
  server/src/main/java/com/seniclass/server/domain/widget/service/LectureStatisticsServiceImpl.java
  server/src/main/java/com/seniclass/server/domain/widget/service/WidgetServiceImpl.java
Due: spotless-check

feat: 강사의 lecture 계층 API 함수 정의
  client/src/domain/instructor/api/lectures.ts
Due: eslint, prettier-check

feat: 강사의 lecture 계층 API 훅 정의
  client/src/domain/instructor/api/lectures.ts
Due: eslint, prettier-check

feat: post, put에서 formData를 Body로 받을 수 있도록 추가
  client/src/shared/api/core/createApi.ts
Due: eslint, prettier-check

feat: 강사, 학생(공용)의 lecture 계층 API 함수 정의
  client/src/shared/api/lectures.ts
Due: eslint, prettier-check

feat: 강사, 학생(공용)의 lecture 계층 API 훅 정의
  client/src/shared/api/lectures.ts
Due: eslint, prettier-check

chore: query 타입에 Object 추가
  client/src/shared/api/core/createApi.ts
  client/src/shared/api/core/http.ts
Due: eslint, prettier-check

feat: 북마크 API 함수 정의
  client/src/domain/student/api/bookmarks.ts
Due: eslint, prettier-check

feat: 북마크 API 훅 정의
  client/src/domain/student/api/bookmarks.ts
Due: eslint, prettier-check

feat: 학생용 review 관련 API 함수 정의
  client/src/domain/student/api/reviews.ts
Due: eslint, prettier-check

feat: 학생용 review 관련 API 훅 정의
  client/src/domain/student/api/reviews.ts
Due: eslint, prettier-check

feat: 공용 review 관련 API 함수 정의
  client/src/shared/api/reviews.ts
Due: eslint, prettier-check
